{% extends "layout.html.twig" %}
    {% block title %}{{ creature.name }}({{ creature.entry }}) - {{ parent() }}{% endblock %}
    {% block head %}
    <script type="text/javascript" src="{{ app.request.basepath }}/js/wmv/viewer.js"></script>
    <script type="text/javascript" src="{{ app.request.basepath }}/js/wmv/basic.js"></script>
    <script type="text/javascript" src="{{ app.request.basepath }}/js/wmv/dataitem-scaling.js" charset="utf8"></script>
    <script type="text/javascript" src="{{ app.request.basepath }}/js/wmv/dataspell-scaling.js" charset="utf8"></script>
    <script type="text/javascript" src="{{ app.request.basepath }}/js/wmv/global.js"></script>
    <script type="text/javascript" src="{{ app.request.basepath }}/js/wmv/npcmodel.js"></script>
    <style type="text/css">
        .well > .table {
            margin-bottom: 0;
        }
    </style>
    {% endblock %}
    {% block content %}
        <div class="col-md-12">
            <h2>{{ creature.name }}{% if creature.subname != null %}, <small>{{ creature.subname }}</small>{% endif %}</h2>
            <div class="col-md-3">
                <div id="infobox-sticky-model">
                    <div id="npc-model-container"></div>
                </div>
            </div>
            <div class="well col-md-2" style="margin-right: 15px">
                <strong>INFORMATION</strong>
                <table class="table">
                    <tbody>
                        <tr>
                            <td><strong>Entry</strong></td>
                            <td{% if creature.mingold != creature.maxgold %} colspan="2"{% endif %}><a href="https://wowhead.com/npc={{ creature.entry }}">{{ creature.entry }}</a></td>
                        </tr>
                        <tr>
                            <td><strong>Script</strong></td>
                            <td{% if creature.mingold != creature.maxgold %} colspan="2"{% endif %}>{% if creature.AIName == null and creature.ScriptName != null %}<abbr title="{{ creature.ScriptName }}">C++</abbr>{% elseif creature.AIName == "TotemAI" %}{{ creature.AIName }} - <a href="https://wowhead.com/spell={{ creature.spell1 }}">{{ creature.spell1 }}</a>{% elseif creature.AIName == "SmartAI" %}<a href="{{ app.request.basepath }}/creature/entry/{{ creature.entry }}/smartai">{{ creature.AIName }}</a>{% elseif creature.ScriptName == null and creature.AIName == null %}None{% else %}{{ creature.AIName }}{% endif %}</td>
                        </tr>
                        <tr>
                            <td><strong>Rank</strong></td>
                            <td{% if creature.mingold != creature.maxgold %} colspan="2"{% endif %}>{{ creature.rank|getRank }}</td>
                        </tr>
                        <tr>
                            <td><strong>Level{% if creature.minlevel != creature.maxlevel %}s{% endif %}</strong></td>
                            <td{% if creature.mingold != creature.maxgold %} colspan="2"{% endif %}>{{ creature.minlevel }}{% if creature.minlevel != creature.maxlevel %}-{{ creature.maxlevel }}{% endif %}</td>
                        </tr>
                        <tr>
                            <td><strong>Type</strong></td>
                            <td{% if creature.mingold != creature.maxgold %} colspan="2"{% endif %}>{{ creature.type|getCreatureType }}</td>
                        </tr>
                        <tr>
                            <td><strong>Family</strong></td>
                            <td{% if creature.mingold != creature.maxgold %} colspan="2"{% endif %}>{{ creature.family|getFamily }}</td>
                        </tr>
                        <tr>
                            <td><strong>Class</strong></td>
                            <td{% if creature.mingold != creature.maxgold %} colspan="2"{% endif %}>{{ creature.unit_class|getUnitClass }}</td>
                        </tr>
                        {% if creature.mingold == creature.maxgold %}
                        <tr>
                            <td><strong>Gold</strong></td>
                            <td>{{ creature.mingold|getGold }}</td>
                        </tr>
                        {% else %}
                        <tr>
                            <td><strong>Gold</strong></td>
                            <td>{{ creature.mingold|getGold }}</td>
                            <td>{{ creature.maxgold|getGold }}</td>
                        </tr>
                        {% endif %}
                        <tr>
                            <td><strong>Inhabit Type</strong></td>
                            <td{% if creature.mingold != creature.maxgold %} colspan="2"{% endif %}>{{ creature.InhabitType|getInhabitType }}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="well col-md-6" style="margin-right: 15px">
                <div class="col-md-12">
                <strong>DAMAGES</strong>
                    <table class="table">
                        <thead>
                            <tr>
                                <th></th>
                                <th>Base Damage</th>
                                <th>Damage Modifier</th>
                                <th>Attack Speed</th>
                                <th>Attack Power</th>
                                <th>Min Damage</th>
                                <th>Max Damage</th>
                                <th>AVG DPS</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>Melee</td>
                                <td>{{ creature.mindmg|number_format(1, '.', ',') }} - {{ creature.maxdmg|number_format(1, '.', ',') }}</td>
                                <td rowspan="2">{{ creature.dmg_multiplier }}</td>
                                <td>{% if creature.baseattacktime == 0 %}<span style="color: red">{{ creature.baseattacktime/1000 }}</span>{% else %}{{ creature.baseattacktime/1000 }}{% endif %}</td>
                                <td>{{ creature.attackpower|number_format(1, '.', ',') }}</td>
                                <td>{{ creature.mindmg*creature.dmg_multiplier|number_format(1, '.', ',') }}</td>
                                <td>{{ creature.maxdmg*creature.dmg_multiplier|number_format(1, '.', ',') }}</td>
                                <td>{% if creature.baseattacktime == 0 %}/{% else %}{{ ((creature.mindmg*creature.dmg_multiplier + creature.maxdmg*creature.dmg_multiplier)/2/(creature.baseattacktime/1000))|number_format(2, '.', ',') }}{% endif %}</td>
                            </tr>
                            <tr>
                                <td>Ranged</td>
                                <td>{{ creature.minrangedmg|number_format(1, '.', ',') }}</td>
                                <td>{% if creature.rangeattacktime == 0 %}<span style="color: red">{{ creature.rangeattacktime/1000 }}{% else %}{{ creature.rangeattacktime/1000 }}{% endif %}</td>
                                <td>{{ creature.rangedattackpower|number_format(1, '.', ',') }}</td>
                                <td>{{ creature.minrangedmg*creature.dmg_multiplier|number_format(1, '.', ',') }}</td>
                                <td>{{ creature.maxrangedmg*creature.dmg_multiplier|number_format(1, '.', ',') }}</td>
                                <td>{% if creature.rangeattacktime == 0 %}/{% else %}{{ ((creature.minrangedmg*creature.dmg_multiplier + creature.maxrangedmg*creature.dmg_multiplier)/2/(creature.rangeattacktime/1000))|number_format(2, '.', ',') }}{% endif %}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="col-md-12">
                    <strong>RESISTANCES</strong>
                    <table class="table col-md-6">
                        <thead>
                        <tr>
                            <th>Holy</th>
                            <th>Fire</th>
                            <th>Nature</th>
                            <th>Frost</th>
                            <th>Shadow</th>
                            <th>Arcane</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td>{{ creature.resistance1 }}</td>
                            <td>{{ creature.resistance2 }}</td>
                            <td>{{ creature.resistance3 }}</td>
                            <td>{{ creature.resistance4 }}</td>
                            <td>{{ creature.resistance5 }}</td>
                            <td>{{ creature.resistance6 }}</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            {% if creature.lootid != 0 %}
                <a href="{{ app.request.basepath }}/creature/entry/{{ creature.lootid }}/loot" class="btn btn-primary">Loot Table</a>
            {% else %}
            <p class="btn btn-default">No loot table</p>
            {% endif %}
            <a href="{{ app.request.requestUri }}/eventai" class="btn btn-primary">EventAI</a>
        </div>
    {% endblock %}
    {% block script %}
        <script type="text/javascript">
            NpcModel.ShowModel('infobox-sticky-model', {"displayId":"{{ creature.modelid_1 }}"});
        </script>
    {% endblock %}