{% extends "layout.html.twig" %}
    {% block title %}Flag Extra - {{ creature.name }} - {{ parent() }}{% endblock %}
    {% block head %}
        <style type="text/css">
            #imm ul > li {
                display: block;
                padding: 10px 15px;
                margin-bottom: -1px;
                border: 1px solid #dddddd;
            }
            #imm ul#flag > li:hover {
                background: #f5f5f5;
            }
            .active {
                color: #fff;
                background: #337ab7!important;
                border-color: #337ab7!important;
            }
        </style>
    {% endblock %}
    {% block content %}
        <div class="col-md-9">
            <h2>{{ creature.name }} - Flag Extra</h2>
        </div>
        <div class="col-md-3 text-right" style="margin-top: 30px">
            {% include 'review.html.twig' %}
        </div>
        <div class="col-md-12" id="imm">
            <div class="col-md-3">
                Mask:
                <input id="mask" type="number" class="form-control" value="{{ flag }}" /><br />
            </div>
            <ul id="flag" class="col-md-4">
                <li class="0">CREATURE_FLAG_EXTRA_NONE</li>
                <li class="1">CREATURE_FLAG_EXTRA_INSTANCE_BIND</li>
                <li class="2">CREATURE_FLAG_EXTRA_CIVILIAN</li>
                <li class="4">CREATURE_FLAG_EXTRA_NO_PARRY</li>
                <li class="8">CREATURE_FLAG_EXTRA_NO_PARRY_RUSH</li>
                <li class="16">CREATURE_FLAG_EXTRA_NO_BLOCK</li>
                <li class="32">CREATURE_FLAG_EXTRA_NO_CRUSH</li>
                <li class="64">CREATURE_FLAG_EXTRA_NO_XP_AT_KILL</li>
                <li class="128">CREATURE_FLAG_EXTRA_TRIGGER</li>
                <li class="16384">CREATURE_FLAG_EXTRA_WORLDEVENT</li>
                <li class="32768">IMMUNE_SLOW_SPELL</li>
                <li class="65536">CREATURE_FLAG_EXTRA_NO_TAUNT</li>
                <li class="131072">CREATURE_FLAG_EXTRA_NO_CRIT</li>
                <li class="262144">CREATURE_FLAG_EXTRA_HOMELESS</li>
                <li class="524288">CREATURE_FLAG_EXTRA_ALIVE_INVISIBLE</li>
                <li class="1048576">CREATURE_FLAG_PERIODIC_RELOC</li>
                <li class="2097152">ALLOW_DUAL_WIELD</li>
                <li class="4194304">CREATURE_FLAG_EXTRA_NO_PLAYER_DAMAGE_REQ</li>
                <li class="8388608">CREATURE_FLAG_EXTRA_NO_HEALTH_RESET</li>
            </ul>
            <ul class="col-md-5">
                <li>None</li>
                <li>Creature kill binds instance to killer and killer's group</li>
                <li>Creature does not aggro (ignore faction/reputation hostility)</li>
                <li>Creature does not parry</li>
                <li>Creature does not counter-attack at parry</li>
                <li>Creature does not block</li>
                <li>Creature does not do crush-attacks</li>
                <li>Creature kill does not give XP</li>
                <li>Trigger creature</li>
                <li>Custom flag for world events (left room for merging)</li>
                <li>Cannot have spell casting slowed down</li>
                <li>Cannot be taunted</li>
                <li>Creature does not do critical strikes</li>
                <li>Consider current position instead of home position for threat area</li>
                <li>Not visible for alive players</li>
                <li>Periodic on place relocation when OOC (use this for static mobs only)</li>
                <li>Can dual wield</li>
                <li>Creature does not need to take player damage for kill credit</li>
                <li>Creature does not refill its health at reset</li>
            </ul>
        </div>
    {% endblock %}
    {% block script %}
        <script type="text/javascript" src="{{ app.request.basepath }}/js/dev.js"></script>
        <script type="text/javascript" src="{{ app.request.basepath }}/js/flags.js"></script>
        <script type="text/javascript">
            var Info = { "entryorguid": {{ entry }}, "source_type": 25 };

            var Mask = $('#mask');
            check('flag',Mask.val());

            $('ul#flag > li').click(function() {
                refreshMask(this, Mask, parseInt($(this).attr('class')), parseInt(Mask.val()));
            });
            Mask.bind("keyup change", function() {
                var Binary = Hex(Mask.val());
                check('flag',Binary);
            });

            $('#apply').click(function () {
                apply(Mask.val(), Info);
            });
            $('#review').click(function () {
                review(Mask.val(), Info);
            });
            $('#validate').click(function () {
                validate(Mask.val(), Info);
            });
            $('#refuse').click(function () {
                refuse(Mask.val(), Info);
            });
        </script>
    {% endblock %}