{% extends "layout.html.twig" %}
    {% block title %}Immunities - {{ creature.name }} - {{ parent() }}{% endblock %}
    {% block head %}
        <style type="text/css">
            #imm ul > li {
                display: block;
                padding: 10px 15px;
                margin-bottom: -1px;
                border: 1px solid #dddddd;
            }
            #imm ul#immunities > li:hover {
                background: #f5f5f5;
            }
            .active {
                color: #fff;
                background: #337ab7!important;
                border-color: #337ab7!important;
            }
        </style>
    {% endblock %}
    {% block content %}
        <div class="col-md-9">
            <h2>{{ creature.name }} - Immunities</h2>
        </div>
        <div class="col-md-3 text-right" style="margin-top: 30px">
            {% include 'review.html.twig' %}
        </div>
        <div class="col-md-12" id="imm">
            <div class="col-md-3">
                Mask:
                <input id="mask" type="number" class="form-control" value="{{ immunities }}" /><br />
                <button id="cc" class="btn btn-primary">Crowd Control</button>
            </div>
            <ul id="immunities" class="col-md-3">
                <li id="2147483647">MECHANIC_ALL</li>
                <li id="1">MECHANIC_CHARM</li>
                <li id="2">MECHANIC_DISORIENTED</li>
                <li id="4">MECHANIC_DISARM</li>
                <li id="8">MECHANIC_DISTRACT</li>
                <li id="16">MECHANIC_FEAR</li>
                <li id="32">MECHANIC_GRIP</li>
                <li id="64">MECHANIC_ROOT</li>
                <li id="128">MECHANIC_PACIFY</li>
                <li id="256">MECHANIC_SILENCE</li>
                <li id="512">MECHANIC_SLEEP</li>
                <li id="1024">MECHANIC_SNARE</li>
                <li id="2048">MECHANIC_STUN</li>
                <li id="4096">MECHANIC_FREEZE</li>
                <li id="8192">MECHANIC_KNOCKOUT</li>
                <li id="16384">MECHANIC_BLEED</li>
                <li id="32768">MECHANIC_BANDAGE</li>
                <li id="65536">MECHANIC_POLYMORPH</li>
                <li id="131072">MECHANIC_BANISH</li>
                <li id="262144">MECHANIC_SHIELD</li>
                <li id="524288">MECHANIC_SHACKLE</li>
                <li id="1048576">MECHANIC_MOUNT</li>
                <li id="2097152">MECHANIC_INFECTED</li>
                <li id="4194304">MECHANIC_TURN</li>
                <li id="8388608">MECHANIC_HORROR</li>
                <li id="16777216">MECHANIC_INVULNERABILITY</li>
                <li id="33554432">MECHANIC_INTERRUPT</li>
                <li id="67108864">MECHANIC_DAZE</li>
                <li id="134217728">MECHANIC_DISCOVERY</li>
                <li id="268435456">MECHANIC_IMMUNE_SHIELD</li>
                <li id="536870912">MECHANIC_SAPPED</li>
                <li id="1073741824">MECHANIC_ENRAGED</li>
            </ul>
            <ul class="col-md-3">
                <li>All</li>
                <li>Charmed</li>
                <li>Disoriented</li>
                <li>Disarmed</li>
                <li>Distracted</li>
                <li>Fleeing</li>
                <li>Clumsy</li>
                <li>Rooted</li>
                <li>Pacified</li>
                <li>Silenced</li>
                <li>Asleep</li>
                <li>Ensnared</li>
                <li>Stunned</li>
                <li>Frozen</li>
                <li>Incapacitated</li>
                <li>Bleeding</li>
                <li>Healing</li>
                <li>Polymorphed</li>
                <li>Banished</li>
                <li>Shielded</li>
                <li>Shackled</li>
                <li>Mounted</li>
                <li>Seduced</li>
                <li>Turned</li>
                <li>Horrified</li>
                <li>Invulnerable</li>
                <li>Interrupted</li>
                <li>Dazed</li>
                <li>Discovery</li>
                <li>Invulnerable</li>
                <li>Sapped</li>
                <li>Enrage</li>
            </ul>
        </div>
    {% endblock %}
    {% block script %}
        <script type="text/javascript" src="{{ app.request.basepath }}/js/dev.js"></script>
        <script type="text/javascript">
            var Info = { "entryorguid": {{ entry }}, "source_type": 26 };

            var Mask = $('#mask');
            check(Mask.val());

            $('ul#immunities > li').click(function() {
                var Immunity = parseInt($(this).attr('id'));
                var Immunities = parseInt(Mask.val());
                if( $(this).hasClass('active')) {
                    if(Immunity == 2147483647) {
                        $('ul#immunities > li').removeClass('active');
                        Mask.val(0);
                    } else {
                        $(this).removeClass('active');
                        $('ul#immunities > li[id="2147483647"]').removeClass('active');
                        Mask.val(Immunities - Immunity);
                    }
                } else {
                    if(Immunity == 2147483647) {
                        $('ul#immunities > li').addClass('active');
                        Mask.val(Immunity);
                    } else {
                        $(this).addClass('active');
                        Mask.val(Immunities + Immunity);
                    }
                }
                if(Mask.val() == 0) {
                    $('ul#immunities > li').removeClass('active');
                }
                if(Mask.val() == 2147483647) {
                    $('ul#immunities > li').addClass('active');
                }
            });
            Mask.bind("keyup change", function() {
                var Binary = Hex(Mask.val());
                check(Binary);
            });

            $('#cc').click(function(){
                Mask.val(617299807);
                check(Mask.val());
            });

            function check(Binary) {
                if(Binary & 0x1) { $('ul#immunities > li[id="1"]').addClass('active'); } else { $('ul#immunities > li[id="1"]').removeClass('active'); }
                if(Binary & 0x2) { $('ul#immunities > li[id="2"]').addClass('active'); } else { $('ul#immunities > li[id="2"]').removeClass('active'); }
                if(Binary & 0x4) { $('ul#immunities > li[id="4"]').addClass('active'); } else { $('ul#immunities > li[id="4"]').removeClass('active'); }
                if(Binary & 0x8) { $('ul#immunities > li[id="8"]').addClass('active'); } else { $('ul#immunities > li[id="8"]').removeClass('active'); }
                if(Binary & 0x10) { $('ul#immunities > li[id="16"]').addClass('active'); } else { $('ul#immunities > li[id="16"]').removeClass('active'); }
                if(Binary & 0x20) { $('ul#immunities > li[id="32"]').addClass('active'); } else { $('ul#immunities > li[id="32"]').removeClass('active'); }
                if(Binary & 0x40) { $('ul#immunities > li[id="64"]').addClass('active'); } else { $('ul#immunities > li[id="64"]').removeClass('active'); }
                if(Binary & 0x80) { $('ul#immunities > li[id="128"]').addClass('active'); } else { $('ul#immunities > li[id="128"]').removeClass('active'); }
                if(Binary & 0x100) { $('ul#immunities > li[id="256"]').addClass('active'); } else { $('ul#immunities > li[id="256"]').removeClass('active'); }
                if(Binary & 0x200) { $('ul#immunities > li[id="512"]').addClass('active'); } else { $('ul#immunities > li[id="512"]').removeClass('active'); }
                if(Binary & 0x400) { $('ul#immunities > li[id="1024"]').addClass('active'); } else { $('ul#immunities > li[id="1024"]').removeClass('active'); }
                if(Binary & 0x800) { $('ul#immunities > li[id="2048"]').addClass('active'); } else { $('ul#immunities > li[id="2048"]').removeClass('active'); }
                if(Binary & 0x1000) { $('ul#immunities > li[id="4096"]').addClass('active'); } else { $('ul#immunities > li[id="4096"]').removeClass('active'); }
                if(Binary & 0x2000) { $('ul#immunities > li[id="8192"]').addClass('active'); } else { $('ul#immunities > li[id="8192"]').removeClass('active'); }
                if(Binary & 0x4000) { $('ul#immunities > li[id="16384"]').addClass('active'); } else { $('ul#immunities > li[id="16384"]').removeClass('active'); }
                if(Binary & 0x8000) { $('ul#immunities > li[id="32768"]').addClass('active'); } else { $('ul#immunities > li[id="32768"]').removeClass('active'); }
                if(Binary & 0x10000) { $('ul#immunities > li[id="65536"]').addClass('active'); } else { $('ul#immunities > li[id="65536"]').removeClass('active'); }
                if(Binary & 0x20000) { $('ul#immunities > li[id="131072"]').addClass('active'); } else { $('ul#immunities > li[id="131072"]').removeClass('active'); }
                if(Binary & 0x40000) { $('ul#immunities > li[id="262144"]').addClass('active'); } else { $('ul#immunities > li[id="262144"]').removeClass('active'); }
                if(Binary & 0x80000) { $('ul#immunities > li[id="524288"]').addClass('active'); } else { $('ul#immunities > li[id="524288"]').removeClass('active'); }
                if(Binary & 0x100000) { $('ul#immunities > li[id="1048576"]').addClass('active'); } else { $('ul#immunities > li[id="1048576"]').removeClass('active'); }
                if(Binary & 0x200000) { $('ul#immunities > li[id="2097152"]').addClass('active'); } else { $('ul#immunities > li[id="2097152"]').removeClass('active'); }
                if(Binary & 0x400000) { $('ul#immunities > li[id="4194304"]').addClass('active'); } else { $('ul#immunities > li[id="4194304"]').removeClass('active'); }
                if(Binary & 0x800000) { $('ul#immunities > li[id="8388608"]').addClass('active'); } else { $('ul#immunities > li[id="8388608"]').removeClass('active'); }
                if(Binary & 0x1000000) { $('ul#immunities > li[id="16777216"]').addClass('active'); } else { $('ul#immunities > li[id="16777216"]').removeClass('active'); }
                if(Binary & 0x2000000) { $('ul#immunities > li[id="33554432"]').addClass('active'); } else { $('ul#immunities > li[id="33554432"]').removeClass('active'); }
                if(Binary & 0x4000000) { $('ul#immunities > li[id="67108864"]').addClass('active'); } else { $('ul#immunities > li[id="67108864"]').removeClass('active'); }
                if(Binary & 0x8000000) { $('ul#immunities > li[id="134217728"]').addClass('active'); } else { $('ul#immunities > li[id="134217728"]').removeClass('active'); }
                if(Binary & 0x10000000) { $('ul#immunities > li[id="268435456"]').addClass('active'); } else { $('ul#immunities > li[id="268435456"]').removeClass('active'); }
                if(Binary & 0x20000000) { $('ul#immunities > li[id="536870912"]').addClass('active'); } else { $('ul#immunities > li[id="536870912"]').removeClass('active'); }
                if(Binary & 0x40000000) { $('ul#immunities > li[id="1073741824"]').addClass('active'); } else { $('ul#immunities > li[id="1073741824"]').removeClass('active'); }
                if(Binary & 0x7FFFFFFF && Mask.val() == 2147483647) { $('ul#immunities > li[id="2147483647"]').addClass('active'); } else { $('ul#immunities > li[id="2147483647"]').removeClass('active'); }
            }

            function Hex(d) {
                return "0x" + (+d).toString(16).toUpperCase();
            }

            $('#apply').click(function () {
               apply(Mask.val(), Info);
            });
            $('#review').click(function () {
                review(Mask.val(), Info);
            });
            $('#validate').click(function () {
                validate(Mask.val(), Info);
            });
            $('#refuse').click(function () {
                refuse(Mask.val(), Info);
            });
        </script>
    {% endblock %}