{% extends "layout.html.twig" %}
    {% block title %}Creature - {{ parent() }}{% endblock %}
    {% block head %}{% endblock %}
    {% block content %}
        <div class="col-md-12">
            <h2>SunCreature</h2>
            <h4>Find the creature by ID</h4>
            <form class="form-inline">
                <div class="form-group">
                    <div class="input-group">
                        <div class="input-group-addon">Entry</div>
                        <input type="text" class="form-control" id="find-entry">
                        <div class="input-group-addon" id="name"></div>
                    </div>
                </div>
                <button class="go btn btn-primary">Go!</button>
            </form>
            <hr>
            <h4>Find the creature by name</h4>
            <form class="form-inline">
                <div class="form-group">
                    <label for="exampleInputName2">Name</label>
                    <input type="text" class="form-control" id="find-name">
                </div>
            </form>
            <div class="col-md-6 row">
                <table class="table table-stripped">
                    <thead>
                    <th>ID</th>
                    <th>Heroic</th>
                    <th>Name</th>
                    </thead>
                    <tbody>
                    </tbody>
                </table>
            </div>
        </div>
    {% endblock %}
    {% block script %}
        <script type="text/javascript">
            $(document).keypress(function(e) {
                if(e.which == 13) {
                    e.preventDefault();
                    if($('#find-name').is(":focus"))
                        $('#find-name').trigger('change');
                    if($('#find-entry').is(":focus"))
                        window.location = ('{{ app.request.basepath }}/creature/entry/'+$('#find-entry').val());
                }
            });
            $('#find-name').change(function(){
                $.ajax({
                    type: "GET",
                    url: '{{ app.request.basepath }}/creature/'+$(this).val()+'/search',
                    success: function (data) {
                        $('.table > tbody').html('');
                        console.log(Date());
                        var html = '';
                        $.each(JSON.parse(data), function(){
                            html += '<tr><td><a href="{{ app.request.basepath }}/creature/entry/'+this.entry+'">'+this.entry+'</a></td>';
                            if(this.heroic > 0)
                                html += '<td><a href="{{ app.request.basepath }}/creature/entry/'+this.heroic+'">'+this.heroic+'<a></td>';
                            else
                                html += '<td></td>';
                            html += '<td>'+this.name+'</td></tr>';
                        });
                        $('.table > tbody').append(html);
                    },
                    error: function (xhr, err) {
                        console.log("readyState: " + xhr.readyState + "\nstatus: " + xhr.status);
                        console.log(xhr.responseText);
                    }
                });
            });
            $('#find-entry').on('keyup change', function(){
                $.ajax({
                    type: "GET",
                    url: '{{ app.request.basepath }}/creature/entry/'+$(this).val()+'/name',
                    success: function (data) {
                        console.log(Date(), data);
                        $('#name').html('').html(data);
                    },
                    error: function (xhr, err) {
                        $('#name').html('');
                    }
                });
            })
        </script>
    {% endblock %}