{% extends "layout.html.twig" %}
    {% block title %}{{ creature.name }} Texts - {{ parent() }}{% endblock %}
    {% block head %}
        <style type="text/css">
            #result > .table > tbody > tr > td {
                vertical-align: middle;
                text-align: center;
            }
            #result > .table > tbody > tr > td > span.glyphicon {
                cursor: pointer;
            }
            .has-feedback .form-control-feedback {
                top: 0!important;
                z-index: 5;
            }
        </style>
    {% endblock %}
    {% block content %}
        <div class="col-md-10">
            <h2>{{ creature.name }} - Text</h2>
            <div class="col-md-2">
                <div class="form-group has-feedback">
                    <div class="input-group">
                        <span class="input-group-addon">Group ID</span>
                        <input type="text" class="form-control" id="groupid">
                    </div>
                    <span class="glyphicon form-control-feedback" id="groupidspan" aria-hidden="true"></span>
                </div>
            </div>
            <div class="col-md-2">
                <div class="form-group has-feedback">
                    <div class="input-group">
                        <span class="input-group-addon">ID</span>
                        <input type="text" class="form-control" id="id">
                    </div>
                    <span class="glyphicon form-control-feedback" id="idspan" aria-hidden="true"></span>
                </div>
            </div>
            <div class="col-md-2">
                <button type="button" id="add" class="btn btn-primary">Add</button>
            </div>
        </div>
        <div class="col-md-2">
            <h2>Help</h2>
            <p>See <a href="{{ app.request.basepath }}/smartai/creature/entry/{{ creature.entry }}/text/help">documentation</a>.</p>
            {% include 'review.html.twig' %}
        </div>
        <div id="result" class="col-md-12">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th title="Group ID" width="2%">GID</th>
                        <th width="2%">ID</th>
                        <th width="5%">Chance</th>
                        <th width="7%">Sound</th>
                        <th width="7%">Type</th>
                        <th width="13%">Language</th>
                        <th width="11%">Emote</th>
                        <th width="18%">Text EN</th>
                        <th width="18%">Text FR</th>
                        <th width="15%">Comment</th>
                        <th width="3%"></th>
                    </tr>
                </thead>
                <tbody>
                {% for text in texts %}
                    <tr>
                        <td>{{ text.groupid }}</td>
                        <td>{{ text.id }}</td>
                        <td>
                            <input type="text" class="form-control" value="{{ text.probability }}" onchange="update({{ text.groupid }}, {{ text.id }}, 'probability', this.value)" />
                        </td>
                        <td>
                            <input type="text" class="form-control" value="{{ text.sound }}" onchange="update({{ text.groupid }}, {{ text.id }}, 'sound', this.value)">
                        </td>
                        <td>
                            <select class="form-control" onchange="update({{ text.groupid }}, {{ text.id }}, 'type', this.value)">
                            <option value="12" {% if text.type == "12" %}selected="selected"{% endif %}>Say</option>
                            <option value="14" {% if text.type == "14" %}selected="selected"{% endif %}>Yell</option>
                            <option value="16" {% if text.type == "16" %}selected="selected"{% endif %}>Emote</option>
                            <option value="41" {% if text.type == "41" %}selected="selected"{% endif %}>Boss Emote</option>
                            <option value="15" {% if text.type == "15" %}selected="selected"{% endif %}>Whisper</option>
                            <option value="42" {% if text.type == "42" %}selected="selected"{% endif %}>Boss Whisper</option>
                            </select>
                        </td>
                        <td>
                            <select class="form-control" onchange="update({{ text.groupid }}, {{ text.id }}, 'language', this.value)">
                            <option value="0" {% if text.language == "0" %}selected="selected"{% endif %}>All understand</option>
                            <option value="1" {% if text.language == "1" %}selected="selected"{% endif %}>Orcish</option>
                            <option value="2" {% if text.language == "2" %}selected="selected"{% endif %}>Darnassian</option>
                            <option value="3" {% if text.language == "3" %}selected="selected"{% endif %}>Taurahe</option>
                            <option value="6" {% if text.language == "6" %}selected="selected"{% endif %}>Dwarvish</option>
                            <option value="7" {% if text.language == "7" %}selected="selected"{% endif %}>Common</option>
                            <option value="8" {% if text.language == "8" %}selected="selected"{% endif %}>Demonic</option>
                            <option value="9" {% if text.language == "9" %}selected="selected"{% endif %}>Titan</option>
                            <option value="10" {% if text.language == "10" %}selected="selected"{% endif %}>Thalassian</option>
                            <option value="11" {% if text.language == "11" %}selected="selected"{% endif %}>Draconic</option>
                            <option value="12" {% if text.language == "12" %}selected="selected"{% endif %}>Kalimag</option>
                            <option value="13" {% if text.language == "13" %}selected="selected"{% endif %}>Gnomish</option>
                            <option value="14" {% if text.language == "14" %}selected="selected"{% endif %}>Troll</option>
                            <option value="33" {% if text.language == "33" %}selected="selected"{% endif %}>Gutterspeak</option>
                            <option value="35" {% if text.language == "35" %}selected="selected"{% endif %}>Draenei</option>
                            <option value="36" {% if text.language == "36" %}selected="selected"{% endif %}>Zombie</option>
                            <option value="37" {% if text.language == "37" %}selected="selected"{% endif %}>Gnomish Binary</option>
                            <option value="38" {% if text.language == "38" %}selected="selected"{% endif %}>Goblin Binary</option>
                            </select>
                        </td>
                        <td>
                            <select class="form-control" onchange="update({{ text.groupid }}, {{ text.id }}, 'emote', this.value)">
                            <option value="0" {% if text.emote == "0" %}selected="selected"{% endif %}>None</option>
                            <option value="1" {% if text.emote == "1" %}selected="selected"{% endif %}>Talk</option>
                            <option value="2" {% if text.emote == "2" %}selected="selected"{% endif %}>Bow</option>
                            <option value="3" {% if text.emote == "3" %}selected="selected"{% endif %}>Wave</option>
                            <option value="4" {% if text.emote == "4" %}selected="selected"{% endif %}>Cheer</option>
                            <option value="5" {% if text.emote == "5" %}selected="selected"{% endif %}>Exclamation</option>
                            <option value="6" {% if text.emote == "6" %}selected="selected"{% endif %}>Question</option>
                            <option value="7" {% if text.emote == "7" %}selected="selected"{% endif %}>Eat</option>
                            <option value="11 {% if text.emote == "11" %}selected="selected"{% endif %}">Laugh</option>
                            <option value="14 {% if text.emote == "14" %}selected="selected"{% endif %}">Rude</option>
                            <option value="15 {% if text.emote == "15" %}selected="selected"{% endif %}">Roar</option>
                            <option value="16 {% if text.emote == "16" %}selected="selected"{% endif %}">Kneel</option>
                            <option value="17 {% if text.emote == "17" %}selected="selected"{% endif %}">Kiss</option>
                            <option value="18 {% if text.emote == "18" %}selected="selected"{% endif %}">Cry</option>
                            <option value="19 {% if text.emote == "19" %}selected="selected"{% endif %}">Chicken</option>
                            <option value="20 {% if text.emote == "20" %}selected="selected"{% endif %}">Beg</option>
                            <option value="21 {% if text.emote == "21" %}selected="selected"{% endif %}">Applaud</option>
                            <option value="22 {% if text.emote == "22" %}selected="selected"{% endif %}">Shout</option>
                            <option value="23 {% if text.emote == "23" %}selected="selected"{% endif %}">Flex</option>
                            <option value="24 {% if text.emote == "24" %}selected="selected"{% endif %}">Shy</option>
                            <option value="25 {% if text.emote == "25" %}selected="selected"{% endif %}">Point</option>
                            <option value="66 {% if text.emote == "66" %}selected="selected"{% endif %}">Salute</option>
                            <option value="94 {% if text.emote == "94" %}selected="selected"{% endif %}">Dance</option>
                            <option value="273 {% if text.emote == "273" %}selected="selected"{% endif %}">Yes</option>
                            <option value="274 {% if text.emote == "274" %}selected="selected"{% endif %}">No</option>
                            <option value="275 {% if text.emote == "275" %}selected="selected"{% endif %}">Train</option>
                            </select>
                        </td>
                        <td>
                            <textarea class="form-control" rows="2" onchange="update({{ text.groupid }}, {{ text.id }}, 'texten', this.value)">{{ text.texten }}</textarea>
                        </td>
                        <td>
                            <textarea class="form-control" rows="2" onchange="update({{ text.groupid }}, {{ text.id }}, 'textfr', this.value)">{{ text.textfr }}</textarea>
                        </td>
                        <td>
                            <textarea class="form-control" rows="2" onchange="update({{ text.groupid }}, {{ text.id }}, 'comment', this.value)">{{ text.comment }}</textarea>
                        </td>
                        <td><span class="glyphicon glyphicon-remove" onclick="removeText({{ text.groupid }}, {{ text.id }})"></span></td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    {% endblock %}
    {% block script %}
        <script src="{{ app.request.basepath }}/js/dev.js"></script>
        <script type="text/javascript">
            var Info = { "entryorguid": {{ creature.entry }}, "source_type": 12 };
            var Texts = {{ texts|json_encode(constant('JSON_FORCE_OBJECT'))|raw }};
            console.log(Texts);

            function generateData(Texts) {
                var Data = [];
                $.each(Texts, function(){
                    Data.push([this.groupid, this.id, this.texten, this.textfr, this.type, this.language, this.probability, this.emote, this.sound, this.comment]);
                });
                return Data;
            }

            $('#apply').click(function () {
                console.log(Texts);
                apply(generateData(Texts), Info);
            });
            $('#review').click(function () {
                review(generateData(Texts), Info);
            });
            $('#validate').click(function () {
                validate(generateData(Texts), Info);
            });
            $('#refuse').click(function () {
                refuse(generateData(Texts), Info);
            });

            $('#add').click(function() {
                var GID = $('#groupid').val();
                var ID = $('#id').val();
                if(!$('#groupidspan').hasClass('glyphicon-ok') || !$('#idspan').hasClass('glyphicon-ok')) {
                    alert('Error\nSomething is wrong with your GroupID/ID.')
                    return;
                }

                var New = {
                    "entry":"{{ creature.entry }}",
                    "groupid": GID.toString(),
                    "id": ID.toString(),
                    "texten": "",
                    "textfr": "",
                    "type": "0",
                    "language":"0",
                    "probability": "100",
                    "emote": "0",
                    "sound": "0",
                    "comment": "{{ creature.name }} - "
                };
                var MaxID = Object.keys(Texts).length;
                Texts[MaxID] = New;
                $('<tr>' +
                '   <td>' + GID + '</td>' +
                '    <td>' + ID + '</td>' +
                '    <td><input type="text" class="form-control" value="100" onchange="update(' + GID + ', ' + ID + ', \'probability\', this.value)"></td>' +
                '    <td><input type="text" class="form-control" value="0" onchange="update(' + GID + ', ' + ID + ', \'sound\', this.value)"> </td>' +
                '    <td>' +
                '        <select class="form-control" onchange="update(' + GID + ', ' + ID + ', \'type\', this.value)">' +
                '            <option value="0" "selected=selected">Say</option>' +
                '            <option value="1">Yell</option>' +
                '            <option value="2">Emote</option>' +
                '            <option value="3">Boss Emote</option>' +
                '            <option value="4">Whisper</option>' +
                '            <option value="5">Boss Whisper</option>' +
                '        </select>' +
                '    </td>' +
                '    <td>' +
                '        <select class="form-control" onchange="update(' + GID + ', ' + ID + ', \'language\', this.value)">' +
                '            <option value="0" "selected=selected">All understand</option>' +
                '            <option value="1">Orcish</option>' +
                '            <option value="2">Darnassian</option>' +
                '            <option value="3">Taurahe</option>' +
                '            <option value="6">Dwarvish</option>' +
                '            <option value="7">Common</option>' +
                '            <option value="8">Demonic</option>' +
                '            <option value="9">Titan</option>' +
                '            <option value="10">Thalassian</option>' +
                '            <option value="11">Draconic</option>' +
                '            <option value="12">Kalimag</option>' +
                '            <option value="13">Gnomish</option>' +
                '            <option value="14">Troll</option>' +
                '            <option value="33">Gutterspeak</option>' +
                '            <option value="35">Draenei</option>' +
                '            <option value="36">Zombie</option>' +
                '            <option value="37">Gnomish Binary</option>' +
                '            <option value="38">Goblin Binary</option>' +
                '        </select>' +
                '    </td>' +
                '    <td>' +
                '        <select class="form-control" onchange="update(' + GID + ', ' + ID + ', \'emote\', this.value)">' +
                '            <option value="0" "selected=selected">None</option>' +
                '            <option value="1">Talk</option>' +
                '            <option value="2">Bow</option>' +
                '            <option value="3">Wave</option>' +
                '            <option value="4">Cheer</option>' +
                '            <option value="5">Exclamation</option>' +
                '            <option value="6">Question</option>' +
                '            <option value="7">Eat</option>' +
                '            <option value="11">Laugh</option>' +
                '            <option value="14">Rude</option>' +
                '            <option value="15">Roar</option>' +
                '            <option value="16">Kneel</option>' +
                '            <option value="17">Kiss</option>' +
                '            <option value="18">Cry</option>' +
                '            <option value="19">Chicken</option>' +
                '            <option value="20">Beg</option>' +
                '            <option value="21">Applaud</option>' +
                '            <option value="22">Shout</option>' +
                '            <option value="23">Flex</option>' +
                '            <option value="24">Shy</option>' +
                '            <option value="25">Point</option>' +
                '            <option value="66">Salute</option>' +
                '            <option value="94">Dance</option>' +
                '            <option value="273">Yes</option>' +
                '            <option value="274">No</option>' +
                '            <option value="275">Train</option>' +
                '        </select>' +
                '    </td>' +
                '    <td><textarea class="form-control" rows="2" onchange="update(' + GID + ', ' + ID + ', \'texten\', this.value)"></textarea></td>' +
                '    <td><textarea class="form-control" rows="2" onchange="update(' + GID + ', ' + ID + ', \'textfr\', this.value)"></textarea></td>' +
                '    <td><textarea class="form-control" rows="2" onchange="update(' + GID + ', ' + ID + ', \'comment\', this.value)">{{ creature.name }} - </textarea></td>' +
                '    <td><span class="glyphicon glyphicon-remove" onclick="removeText(' + GID + ', ' + ID + ')"></span></td>' +
                '</tr>').appendTo('table > tbody');
            });

            $('#groupid').keyup(function(){
                var GroupID = $(this).val();
                var Success = $('#groupidspan');
                $('#id').val('');
                $('#idspan').removeClass('glyphicon-remove').removeClass('glyphicon-ok');

                var Length = Object.keys(Texts).length;
                var Check = 0;
                for (var i in Texts) {
                    if (Texts[i]["groupid"] == GroupID)
                        Check = 1;
                }
                if(Check == 1) {
                    Success.css('color', '#ff2f2f').addClass('glyphicon-remove').removeClass('glyphicon-ok');
                } else if(GroupID == "") {
                    Success.removeClass('glyphicon-remove').removeClass('glyphicon-ok');
                } else {
                    Success.css('color', '#3EAE19').addClass('glyphicon-ok').removeClass('glyphicon-remove');
                }
            });
            $('#id').keyup(function(){
                var GroupID = $('#groupid').val();
                var ID = $(this).val();
                var Success = $('#idspan');

                var Length = Object.keys(Texts).length;
                var Check = 0;
                for (var i in Texts) {
                    if (Texts[i]["groupid"] == GroupID && Texts[i]["id"] == ID)
                        Check = 1;
                }

                if(Check == 1) {
                    $('#groupidspan').css('color', '#ff2f2f').addClass('glyphicon-remove').removeClass('glyphicon-ok');
                    Success.css('color', '#ff2f2f').addClass('glyphicon-remove').removeClass('glyphicon-ok');
                } else if(ID == "") {
                    Success.removeClass('glyphicon-remove').removeClass('glyphicon-ok');
                } else {
                    $('#groupidspan').css('color', '#3EAE19').addClass('glyphicon-ok').removeClass('glyphicon-remove');
                    Success.css('color', '#3EAE19').addClass('glyphicon-ok').removeClass('glyphicon-remove');
                }
            });

            function removeText(groupid, id) {
                var Check;
                for (var i in Texts) {
                    if (Texts[i]["groupid"] == groupid && Texts[i]["id"] == id)
                        Check = i;
                }
                var TR = $('table > tbody > tr:has(td:first-child:contains("' + groupid + '")):has(td:nth-child(2):contains("' + id + '"))');
                delete Texts[Check];
                TR.remove();
            }

            function update(groupid, id, prop, value) {
                var Check;
                for (var i in Texts) {
                    if (Texts[i]["groupid"] == groupid && Texts[i]["id"] == id)
                        Check = i;
                }
                Texts[Check][prop] = value;
                console.log(Texts);
            }
        </script>
    {% endblock %}