{% extends "layout.html.twig" %}
    {% block title %}Unit Flag - {{ creature.name }} - {{ parent() }}{% endblock %}
    {% block head %}
        <style type="text/css">
            #imm ul > li {
                display: block;
                padding: 10px 15px;
                margin-bottom: -1px;
                border: 1px solid #dddddd;
            }
            #imm ul#flag > li:hover {
                background: #f5f5f5;
            }
            .active {
                color: #fff;
                background: #337ab7!important;
                border-color: #337ab7!important;
            }
        </style>
    {% endblock %}
    {% block content %}
        <div class="col-md-9">
            <h2>{{ creature.name }} - Unit Flag</h2>
        </div>
        <div class="col-md-3 text-right" style="margin-top: 30px">
            {% include 'review.html.twig' %}
        </div>
        <div class="col-md-12" id="imm">
            <div class="col-md-3">
                Mask:
                <input id="mask" type="number" class="form-control" value="{{ flag }}" /><br />
            </div>
            <ul id="flag" class="col-md-3">
                <li id="1">UNIT_FLAG_SERVER_CONTROLLED</li>
                <li id="2">UNIT_FLAG_NON_ATTACKABLE</li>
                <li id="4">UNIT_FLAG_DISABLE_MOVE</li>
                <li id="8">UNIT_FLAG_PVP_ATTACKABLE</li>
                <li id="16">UNIT_FLAG_RENAME</li>
                <li id="32">UNIT_FLAG_PREPARATION</li>
                <li id="64">UNIT_FLAG_UNK_6</li>
                <li id="128">UNIT_FLAG_NOT_ATTACKABLE_1</li>
                <li id="256">UNIT_FLAG_IMMUNE_TO_PC</li>
                <li id="512">UNIT_FLAG_IMMUNE_TO_NPC</li>
                <li id="1024">UNIT_FLAG_LOOTING</li>
                <li id="2048">UNIT_FLAG_PET_IN_COMBAT</li>
                <li id="4096">UNIT_FLAG_PVP</li>
                <li id="8192">UNIT_FLAG_SILENCED</li>
                <li id="16384">UNIT_FLAG_UNK_14</li>
                <li id="32768">UNIT_FLAG_UNK_15</li>
                <li id="65536">UNIT_FLAG_NOT_PL_SPELL_TARGET</li>
                <li id="131072">UNIT_FLAG_PACIFIED</li>
                <li id="262144">UNIT_FLAG_STUNNED</li>
                <li id="524288">UNIT_FLAG_IN_COMBAT</li>
                <li id="1048576">UNIT_FLAG_TAXI_FLIGHT</li>
                <li id="2097152">UNIT_FLAG_DISARMED</li>
                <li id="4194304">UNIT_FLAG_CONFUSED</li>
                <li id="8388608">UNIT_FLAG_FLEEING</li>
                <li id="16777216">UNIT_FLAG_PLAYER_CONTROLLED</li>
                <li id="33554432">UNIT_FLAG_NOT_SELECTABLE</li>
                <li id="67108864">UNIT_FLAG_SKINNABLE</li>
                <li id="134217728">UNIT_FLAG_MOUNT</li>
                <li id="268435456">UNIT_FLAG_UNK_28</li>
                <li id="536870912">UNIT_FLAG_UNK_29</li>
                <li id="1073741824">UNIT_FLAG_SHEATHE</li>
                <li id="2147483648">UNIT_FLAG_UNK_31</li>
            </ul>
            <ul class="col-md-6">
                <li>Server controlled</li>
                <li>Non attackable</li>
                <li>Prevents the creature from moving</li>
                <li>Allows to apply PvP rules to attackable state in addition to faction dependent state</li>
                <li>Rename</li>
                <li>Don't take reagents for spells with SPELL_ATTR_EX5_NO_REAGENT_WHILE_PREP</li>
                <li>Needed to cast Nontriggered spells in SmartAI</li>
                <li>UNIT_FLAG_PVP_ATTACKABLE| UNIT_FLAG_NOT_ATTACKABLE_1 is NON_PVP_ATTACKABLE</li>
                <li>Disables combat/assistance with Player Characters</li>
                <li>Disables combat/assistance with Non Player Characters</li>
                <li>Loot animation</li>
                <li>In combat; 2.0.8</li>
                <li>Changed in 3.0.3</li>
                <li>Can't cast spells</li>
                <li>Unknown 14 - 2.0.8</li>
                <li>Unknown 15</li>
                <li>Unknown 16</li>
                <li>Creature will not attack</li>
                <li>Creature is stunned - 3.0.3 ok</li>
                <li>In combat</li>
                <li>Disables casting at client side spell not allowed by taxi flight (mounted?), probably used with 0x4 flag</li>
                <li>3.0.3, disable melee spells casting..., "Required melee weapon" added to melee spells tooltip.</li>
                <li>Confused</li>
                <li>Fleeing</li>
                <li>Used in spell Eyes of the Beast for pet... let attack by controlled creature. Also used by Vehicles (PCV).</li>
                <li>Can't be selected by mouse or with /target {name} command.</li>
                <li>Skinnable</li>
                <li>The client seems to handle it perfectly. Also used when making custom mounts.</li>
                <li>Unknown 28</li>
                <li>Unknown 29 - Used in Feign Death spell or NPC will play dead.</li>
                <li>Sheathe</li>
                <li>Unknown 31</li>
            </ul>
        </div>
    {% endblock %}
    {% block script %}
        <script type="text/javascript" src="{{ app.request.basepath }}/js/dev.js"></script>
        <script type="text/javascript">
            var Info = { "entryorguid": {{ entry }}, "source_type": 21 };

            var Mask = $('#mask');
            check(Mask.val());

            $('ul#flag > li').click(function() {
                var Immunity = parseInt($(this).attr('id'));
                var Immunities = parseInt(Mask.val());
                if( $(this).hasClass('active')) {
                    if(Immunity == 2147483647) {
                        $('ul#flag > li').removeClass('active');
                        Mask.val(0);
                    } else {
                        $(this).removeClass('active');
                        $('ul#flag > li[id="2147483647"]').removeClass('active');
                        Mask.val(Immunities - Immunity);
                    }
                } else {
                    if(Immunity == 2147483647) {
                        $('ul#flag > li').addClass('active');
                        Mask.val(Immunity);
                    } else {
                        $(this).addClass('active');
                        Mask.val(Immunities + Immunity);
                    }
                }
                if(Mask.val() == 0) {
                    $('ul#flag > li').removeClass('active');
                }

                if(Mask.val() == 2147483647) {
                    $('ul#flag > li').addClass('active');
                }
            });
            Mask.bind("keyup change", function() {
                var Binary = Hex(Mask.val());
                check(Binary);
            });

            function check(Binary) {
                if(Binary & 0x1) { $('ul#flag > li[id="1"]').addClass('active'); } else { $('ul#flag > li[id="1"]').removeClass('active'); }
                if(Binary & 0x2) { $('ul#flag > li[id="2"]').addClass('active'); } else { $('ul#flag > li[id="2"]').removeClass('active'); }
                if(Binary & 0x4) { $('ul#flag > li[id="4"]').addClass('active'); } else { $('ul#flag > li[id="4"]').removeClass('active'); }
                if(Binary & 0x8) { $('ul#flag > li[id="8"]').addClass('active'); } else { $('ul#flag > li[id="8"]').removeClass('active'); }
                if(Binary & 0x10) { $('ul#flag > li[id="16"]').addClass('active'); } else { $('ul#flag > li[id="16"]').removeClass('active'); }
                if(Binary & 0x20) { $('ul#flag > li[id="32"]').addClass('active'); } else { $('ul#flag > li[id="32"]').removeClass('active'); }
                if(Binary & 0x40) { $('ul#flag > li[id="64"]').addClass('active'); } else { $('ul#flag > li[id="64"]').removeClass('active'); }
                if(Binary & 0x80) { $('ul#flag > li[id="128"]').addClass('active'); } else { $('ul#flag > li[id="128"]').removeClass('active'); }
                if(Binary & 0x100) { $('ul#flag > li[id="256"]').addClass('active'); } else { $('ul#flag > li[id="256"]').removeClass('active'); }
                if(Binary & 0x200) { $('ul#flag > li[id="512"]').addClass('active'); } else { $('ul#flag > li[id="512"]').removeClass('active'); }
                if(Binary & 0x400) { $('ul#flag > li[id="1024"]').addClass('active'); } else { $('ul#flag > li[id="1024"]').removeClass('active'); }
                if(Binary & 0x800) { $('ul#flag > li[id="2048"]').addClass('active'); } else { $('ul#flag > li[id="2048"]').removeClass('active'); }
                if(Binary & 0x1000) { $('ul#flag > li[id="4096"]').addClass('active'); } else { $('ul#flag > li[id="4096"]').removeClass('active'); }
                if(Binary & 0x2000) { $('ul#flag > li[id="8192"]').addClass('active'); } else { $('ul#flag > li[id="8192"]').removeClass('active'); }
                if(Binary & 0x4000) { $('ul#flag > li[id="16384"]').addClass('active'); } else { $('ul#flag > li[id="16384"]').removeClass('active'); }
                if(Binary & 0x8000) { $('ul#flag > li[id="32768"]').addClass('active'); } else { $('ul#flag > li[id="32768"]').removeClass('active'); }
                if(Binary & 0x10000) { $('ul#flag > li[id="65536"]').addClass('active'); } else { $('ul#flag > li[id="65536"]').removeClass('active'); }
                if(Binary & 0x20000) { $('ul#flag > li[id="131072"]').addClass('active'); } else { $('ul#flag > li[id="131072"]').removeClass('active'); }
                if(Binary & 0x40000) { $('ul#flag > li[id="262144"]').addClass('active'); } else { $('ul#flag > li[id="262144"]').removeClass('active'); }
                if(Binary & 0x80000) { $('ul#flag > li[id="524288"]').addClass('active'); } else { $('ul#flag > li[id="524288"]').removeClass('active'); }
                if(Binary & 0x100000) { $('ul#flag > li[id="1048576"]').addClass('active'); } else { $('ul#flag > li[id="1048576"]').removeClass('active'); }
                if(Binary & 0x200000) { $('ul#flag > li[id="2097152"]').addClass('active'); } else { $('ul#flag > li[id="2097152"]').removeClass('active'); }
                if(Binary & 0x400000) { $('ul#flag > li[id="4194304"]').addClass('active'); } else { $('ul#flag > li[id="4194304"]').removeClass('active'); }
                if(Binary & 0x800000) { $('ul#flag > li[id="8388608"]').addClass('active'); } else { $('ul#flag > li[id="8388608"]').removeClass('active'); }
                if(Binary & 0x1000000) { $('ul#flag > li[id="16777216"]').addClass('active'); } else { $('ul#flag > li[id="16777216"]').removeClass('active'); }
                if(Binary & 0x2000000) { $('ul#flag > li[id="33554432"]').addClass('active'); } else { $('ul#flag > li[id="33554432"]').removeClass('active'); }
                if(Binary & 0x4000000) { $('ul#flag > li[id="67108864"]').addClass('active'); } else { $('ul#flag > li[id="67108864"]').removeClass('active'); }
                if(Binary & 0x8000000) { $('ul#flag > li[id="134217728"]').addClass('active'); } else { $('ul#flag > li[id="134217728"]').removeClass('active'); }
                if(Binary & 0x10000000) { $('ul#flag > li[id="268435456"]').addClass('active'); } else { $('ul#flag > li[id="268435456"]').removeClass('active'); }
                if(Binary & 0x20000000) { $('ul#flag > li[id="536870912"]').addClass('active'); } else { $('ul#flag > li[id="536870912"]').removeClass('active'); }
                if(Binary & 0x40000000) { $('ul#flag > li[id="1073741824"]').addClass('active'); } else { $('ul#flag > li[id="1073741824"]').removeClass('active'); }
                if(Binary & 0x80000000) { $('ul#flag > li[id="2147483648"]').addClass('active'); } else { $('ul#flag > li[id="2147483648"]').removeClass('active'); }
            }

            function Hex(d) {
                return "0x" + (+d).toString(16).toUpperCase();
            }

            $('#apply').click(function () {
                apply(Mask.val(), Info);
            });
            $('#review').click(function () {
                review(Mask.val(), Info);
            });
            $('#validate').click(function () {
                validate(Mask.val(), Info);
            });
            $('#refuse').click(function () {
                refuse(Mask.val(), Info);
            });
        </script>
    {% endblock %}