{% extends "layout.html.twig" %}
    {% block title %}SunQuest - {{ parent() }}{% endblock %}
    {% block head %}
        <script src="{{ app.request.basepath }}/js/jquery.dataTables.min.js"></script>
        <style type="text/css">
        #header-fixed {
            position: fixed;
            top: 0px; display:none;
            background-color:white;
            border-bottom: 1px solid #dbdbdb;
        }
        .table {
            margin-bottom: 0;
        }
        .table > tbody > tr > td {
            vertical-align: middle!important;
        }
        .dataTables_info {
            position: absolute;
            top: 55px;
        }
        #table_filter {
            text-align: right;
        }
        .dataTables_scrollBody tr.top td {
            padding: 0px!important;
        }

        td.testing {
            padding: 0!important;
            vertical-align: top!important;
            height: 68px;
        }

        td.testing div {
            height: 50%;
            width: 50%;
            float: left;
            line-height: 2.4;
        }

        td {
            text-align: center;
            padding: 8px 0!important;
        }

        td span {
            display: none;
        }

        td.big {
            width: 25%;
        }

        td.med {
            width: 10%;
        }

        td.small {
            width: 5%;
            font-size: 100%!important;
        }

        td.part {
            width: 3.33%;
        }

        td textarea {
            width: 95%;
        }

        .border {
            border-right: 1px solid #fff;
        }

        .border2 {
            border-right: 1px solid #dbdbdb;
        }

        .ok {
            background: #5cb85c;
            color: #fff;
        }

        .mid {
            background: #f0ad4e;
            color: #fff;
        }

        .ko {
            background: #F95C4B;
            color: #fff;
        }

        .no {
            background: #777;
            color: #fff;
        }

        .name {
            background: #5bc0de;
            color: #fff;
        }
    </style>
    {% endblock %}
    {% block content %}
    <div class="fluid-container">
        <table id="table" class="table table-hover">
            <thead>
                <tr class="top">
                    <td class="small" rowspan="2">A/H</td>
                    <td class="med" rowspan="2">Name</td>
                    <td class="small" rowspan="2">#</td>
                    <td class="small" rowspan="2">Start<br />End</td>
                    <td class="small" rowspan="2">Test</td>
                    <td class="med" colspan="3">Texts</td>
                    <td class="med" colspan="3">Event</td>
                    <td class="med" colspan="3">Gains</td>
                    <td class="med" colspan="3">NPCs</td>
                    <td class="med" colspan="2">Objects</td>
                    <td class="big" rowspan="2">Comment</td>
                </tr>
                <tr class="top">
                    <td class="part">Start</td>
                    <td class="part">Prog.</td>
                    <td class="part border2">End</td>
                    <td class="part">Txts</td>
                    <td class="part">Path</td>
                    <td class="part border2">Time</td>
                    <td class="part">Rep</td>
                    <td class="part">Items</td>
                    <td class="part border2">Gold</td>
                    <td class="part">Emot</td>
                    <td class="part">Spells</td>
                    <td class="part border2">Place</td>
                    <td class="small">Working</td>
                    <td class="small">BA ?</td>
                </tr>
            </thead>
            <tbody>
            {% for quest in quests %}
                <tr>
                    <td>
                        {{ quest.race|getFaction }}
                    </td>
                    <td>
                        <a href="http://www.wowhead.com/quest={{ quest.entry }}">{{ quest.name }}</a>
                    </td>
                    <td>
                        {{ quest.entry }}
                    </td>
                    <td class="border">
                        {% if (quest.starter == null) and (quest.itemid == null) %}
                            <a href="http://www.wowhead.com/object={{ quest.objidstarter }}"><img src="{{ app.request.basepath }}/img/quests/quest_start.gif" alt="Quest Start" title="{{ quest.objstarter }}" /></a>
                        {% elseif (quest.objstarter == null) and (quest.starter == null) %}
                            <a href="http://www.wowhead.com/item={{ quest.itemid }}"><img src="{{ app.request.basepath }}/img/quests/quest_start.gif" alt="Quest Start" title="{{ quest.itemname }}" /></a>
                        {% else %}
                            <a href="http://www.wowhead.com/npc={{ quest.idstarter }}"><img src="{{ app.request.basepath }}/img/quests/quest_start.gif" alt="Quest Start" title="{{ quest.starter }}" /></a>
                        {% endif %}
                        {% if quest.ender == null %}
                            <a href="http://www.wowhead.com/object={{ quest.objidender }}"><img src="{{ app.request.basepath }}/img/quests/quest_end.gif" alt="Quest End" title="{{ quest.objender }}" /></a>
                        {% else %}
                            <a href="http://www.wowhead.com/npc={{ quest.idender }}"><img src="{{ app.request.basepath }}/img/quests/quest_end.gif" alt="Quest End" title="{{ quest.ender }}" /></a>
                        {% endif %}
                    </td>
                    <td class="border testing">
                        <div class="testeur" id="{{ quest.entry }}_test1" status="{% if quest.tester == 1 %}1{% else %}0{% endif %}" onclick='setTester({{ quest.entry }}, 1)' title="Mikelus">M</div>
                        <div class="testeur" id="{{ quest.entry }}_test2" status="{% if quest.tester == 2 %}1{% else %}0{% endif %}" onclick='setTester({{ quest.entry }}, 2)' title="Potestas">P</div>
                        <div class="testeur" id="{{ quest.entry }}_test4" status="{% if quest.tester == 4 %}1{% else %}0{% endif %}" onclick='setTester({{ quest.entry }}, 4)' title="Vanquish">V</div>
                        <div class="testeur" id="{{ quest.entry }}_test3" status="{% if quest.tester == 3 %}1{% else %}0{% endif %}" onclick='setTester({{ quest.entry }}, 3)' title="Yukka">Y</div>
                    </td>
                    <td status="{% if quest.startTxt != null %}{{ quest.startTxt }}{% else %}0{% endif %}" id="{{ quest.entry }}_1" onclick='testQuest({{ quest.entry }}, 1)' class="test"></td>
                    <td status="{% if quest.progTxt != null %}{{ quest.progTxt }}{% else %}0{% endif %}" id="{{ quest.entry }}_2" onclick='testQuest({{ quest.entry }}, 2)' class="test"></td>
                    <td status="{% if quest.endTxt != null %}{{ quest.endTxt }}{% else %}0{% endif %}" id="{{ quest.entry }}_3" onclick='testQuest({{ quest.entry }}, 3)' class="test border"></td>
                    <td status="{% if quest.txtEvent != null %}{{ quest.txtEvent }}{% else %}0{% endif %}" id="{{ quest.entry }}_4" onclick='testQuest({{ quest.entry }}, 4)' class="test"></td>
                    <td status="{% if quest.pathEvent != null %}{{ quest.pathEvent }}{% else %}0{% endif %}" id="{{ quest.entry }}_5" onclick='testQuest({{ quest.entry }}, 5)' class="test"></td>
                    <td status="{% if quest.timeEvent != null %}{{ quest.timeEvent }}{% else %}0{% endif %}" id="{{ quest.entry }}_6" onclick='testQuest({{ quest.entry }}, 6)' class="test border"></td>
                    <td status="{% if quest.Exp != null %}{{ quest.Exp }}{% else %}0{% endif %}" id="{{ quest.entry }}_7" onclick='testQuest({{ quest.entry }}, 7)' class="test"></td>
                    <td status="{% if quest.Stuff != null %}{{ quest.Stuff }}{% else %}0{% endif %}" id="{{ quest.entry }}_8" onclick='testQuest({{ quest.entry }}, 8)' class="test"></td>
                    <td status="{% if quest.Gold != null %}{{ quest.Gold }}{% else %}0{% endif %}" id="{{ quest.entry }}_9" onclick='testQuest({{ quest.entry }}, 9)' class="test border"></td>
                    <td status="{% if quest.Stuff != null %}{{ quest.Stuff }}{% else %}0{% endif %}" id="{{ quest.entry }}_10" onclick='testQuest({{ quest.entry }}, 10)' class="test"></td>
                    <td status="{% if quest.spellNPC != null %}{{ quest.spellNPC }}{% else %}0{% endif %}" id="{{ quest.entry }}_11" onclick='testQuest({{ quest.entry }}, 11)' class="test"></td>
                    <td status="{% if quest.placeNPC != null %}{{ quest.placeNPC }}{% else %}0{% endif %}" id="{{ quest.entry }}_12" onclick='testQuest({{ quest.entry }}, 12)' class="test border"></td>
                    <td status="{% if quest.workObj != null %}{{ quest.workObj }}{% else %}0{% endif %}" id="{{ quest.entry }}_13" onclick='testQuest({{ quest.entry }}, 13)' class="test"></td>
                    <td status="{% if quest.baObj != null %}{{ quest.baObj }}{% else %}0{% endif %}" id="{{ quest.entry }}_14" onclick='testQuest({{ quest.entry }}, 14)' class="test border"></td>
                    <td id="{{ quest.entry }}_15" >{% if is_granted('ROLE_QUESTS_WRITE') %}<textarea id="{{ quest.entry }}">{% endif %}{{ quest.comment }}{% if is_granted('ROLE_QUESTS_WRITE') %}</textarea>{% endif %}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
    {% endblock %}
    {% block script %}
    <script type="text/javascript">
        $(document).ready(function() {
            $('#table').dataTable( {
                "scrollY":        "calc(100vh - 156px)",
                "scrollCollapse": false,
                "paging":         false,
                "order": [[ 2, "asc" ]]
            } );
            //set the cells visuals based on their status
            $('tbody td').each(function(lol, element) {
                var status = $(element).attr("status");
                if(status !== undefined) { //jQuery attr() returns undefined on no result
                    setElementColorByStatus(element, status);
                }
            });

            $('.testeur').each(function(lol, element) {
                var status = $(element).attr("status");
                if(status !== undefined) { //jQuery attr() returns undefined on no result
                    setTesterColor(element, status);
                }
            });
        } );

        function setElementColorByStatus(element, status) {
            $(element).toggleClass('ok', false);
            $(element).toggleClass('mid', false);
            $(element).toggleClass('ko', false);
            $(element).toggleClass('no', false);

            switch(parseInt(status))
            {
                case 0:	break;
                case 1:	$(element).toggleClass('ok',true);	break;
                case 2:	$(element).toggleClass('mid',true); break;
                case 3:	$(element).toggleClass('ko',true);	break;
                case 4:	$(element).toggleClass('no',true);	break;
            }
        }

        function setTesterColor(element, status) {
            $(element).toggleClass('name', false);

            switch(parseInt(status))
            {
                case 0:	break;
                case 1:	$(element).toggleClass('name',true);	break;
            }
        }

        {% if is_granted('ROLE_QUESTS_WRITE') %}
        //set the cells visuals based on their status
        $('.testeur').click(function() {
            $(this).toggleClass('name').siblings().removeClass('name');
        });

        function testQuest(questId, column) {
            var element = $('#'+questId+"_"+column);

            var status = element.attr('status');
            status = (parseInt(status) + 1)%5;
            element.attr('status',status);

            setElementColorByStatus(element, status);

            var info = { "id": questId.toString(), "column": column.toString(), "status": status.toString() };
            $.ajax({
                type: "POST",
                url: '/quest/apply/status',
                data: 'info=' + JSON.stringify(info),
                success: function(data) {
                    console.log(data);
                },
                error: function (xhr, err) {
                    console.log("readyState: " + xhr.readyState + "\nstatus: " + xhr.status);
                    console.log(xhr.responseText);
                }
            });
        }

        // Tester
        function setTester(questId, tester) {
            var element = $('#'+questId+"_test"+tester);

            if (element.hasClass('name')) {
                var tester = 0;
            }
            var info = { "id": questId, "tester": tester };
            $.ajax({
                type: "POST",
                url: '/quest/apply/tester',
                data: 'info=' + JSON.stringify(info),
                success: function(data) {
                    console.log(data);
                },
                error: function (xhr, err) {
                    console.log("readyState: " + xhr.readyState + "\nstatus: " + xhr.status);
                    console.log(xhr.responseText);
                }
            });
        }

        $('textarea').change(function(){
            var questId = $(this).attr('id');
            var Comment = $(this).val();
            var info = { "id": questId, "comment": Comment.replace(/\r?\n/g, '%0D%0A') };
            $.ajax({
                type: "POST",
                url: '/quest/apply/comment',
                data: 'info=' + JSON.stringify(info),
                success: function(data) {
                    console.log(data);
                },
                error: function (xhr, err) {
                    console.log("readyState: " + xhr.readyState + "\nstatus: " + xhr.status);
                    console.log(xhr.responseText);
                }
            });
        });
        {% endif %}
    </script>
    {% endblock %}