{% extends "layout.html.twig" %}
    {% block title %}Smartai - {{ parent() }}{% endblock %}
    {% block head %}
        <link rel="stylesheet" type="text/css" href="{{ app.request.basepath }}/css/chosen.min.css" />
        <script src="{{ app.request.basepath }}/js/jquery.dataTables.min.js"></script>
        <script src="{{ app.request.basepath }}/js/jquery.xcolor.min.js"></script>
        <script src="{{ app.request.basepath }}/js/chosen.jquery.min.js"></script>
        <style type="text/css">
            html, body {
                width: 100%;
                height: 100%;
                margin: 0;
            }
            table {
                font-size: 13px;
            }
            .table {
                margin-bottom: 0;
                flex: 1 1 auto;
            }
            .table > tbody > tr > td {
                vertical-align: middle;
            }
            td.options {
                width: 5%;
                text-align: center;
            }
            .clear {
                clear: both;
            }
            .glyphicon {
                cursor: pointer;
            }
            .form-group-sm .form-control {
                height: 25px;
            }
            .form-group-sm select[multiple].form-control {
                height: 23px;
            }
            #event_flags_value:hover {
                height: 102px;
            }
            #event_phase_mask_value:hover {
                height: 147px;
            }
            #target_flags_value {
                font-size: 10px;
                padding: 3px 3px;
                letter-spacing: -0.5px;
            }
            #target_flags_value:hover {
                height: 73px;
            }
            .pad-right-0 {
                padding-right: 0;
            }
            .dataTables_info {
                display: none;
            }
            .npc_flags {
                height: 158px!important;
                width: 175px;
            }
            .spell_flags {
                height: 87px!important;
                width: 175px;
            }
            .display_flags {
                margin-left: -65px;
            }
            .flags {
                width: 175px;
            }
            #event_comment,
            #action_comment {
                display: none;
                position: absolute;
                left: 96%;
                z-index: 9;
                top: 50px;
                background: #fff;
                border: 1px solid #ccc;
                border-radius: 3px;
                word-wrap: break-word;
                padding: 5px 8px;
                line-height: 1.2;
                font-size: 13px;
            }
            #target_comment {
                display: none;
                position: absolute;
                right: 97%;
                z-index: 9;
                top: 50px;
                background: #fff;
                border: 1px solid #ccc;
                border-radius: 3px;
                word-wrap: break-word;
                padding: 5px 8px;
                line-height: 1.2;
                font-size: 13px;
            }
        </style>
    {% endblock %}
    {% block content %}
        <div id="smartai" class="col-md-12">
        <div class="row">
        <div id="event" class="col-md-5">
            <h4>Event</h4>
            <div class="row">
                <div class="col-md-6">
                    <form class="form-horizontal">
                        <div class="form-group form-group-sm row">
                            <label class="col-sm-4 control-label" id="id">ID</label>
                            <div class="col-sm-8">
                                <input class="form-control" type="text" id="id_val">
                            </div>
                            <label class="col-sm-4 control-label" id="event_chance">Chance</label>
                            <div class="col-sm-8">
                                <input class="form-control" type="text" id="event_chance_val">
                            </div>
                            <label class="col-sm-4 control-label" id="link">Link</label>
                            <div class="col-sm-8">
                                <input class="form-control" type="text" id="link_val">
                            </div>
                            <label class="col-sm-4 control-label" id="event_flags">Flags</label>
                            <div class="col-sm-8">
                                <select multiple class="form-control chosen-select" data-placeholder="Select Flags" id="event_flags_value">
                                    <option value="1">NOT_REPEATABLE</option>
                                    <option value="2">NORMAL_DUNGEON</option>
                                    <option value="4">HEROIC_DUNGEON</option>
                                    <option value="8">NORMAL_RAID</option>
                                    <option value="16">HEROIC_RAID</option>
                                    <option value="128">DEBUG_ONLY</option>
                                    <option value="256">DONT_RESET</option>
                                    <option value="512">WHILE_CHARMED</option>
                                </select>
                            </div>
                            <label class="col-sm-4 control-label" id="event_phase_mask">Phasemask</label>
                            <div class="col-sm-8">
                                <select multiple class="form-control chosen-select" data-placeholder="Select Phases" id="event_phase_mask_value">
                                    <option value="1">PHASE_1</option>
                                    <option value="2">PHASE_2</option>
                                    <option value="4">PHASE_3</option>
                                    <option value="8">PHASE_4</option>
                                    <option value="16">PHASE_5</option>
                                    <option value="32">PHASE_6</option>
                                    <option value="64">PHASE_7</option>
                                    <option value="128">PHASE_8</option>
                                    <option value="256">PHASE_9</option>
                                </select>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="col-md-6">
                    <form class="form-horizontal">
                        <select class="form-control input-sm chosen-select" id="event_type">
                            {% for event in events %}
                                <option value="{{ event.id }}">{{ event.id }} - {{ event.name }}</option>
                            {% endfor %}
                        </select>
                        <div id="event_comment" class="col-md-10"></div>
                        <div class="form-group form-group-sm row">
                            <div class="clear">
                                <label class="col-sm-6 control-label" id="event_param1">Param1</label>
                                <div class="col-sm-6">
                                    <input class="form-control" type="text" id="event_param1_val">
                                </div>
                            </div>
                            <div class="clear">
                                <label class="col-sm-6 control-label" id="event_param2">Param2</label>
                                <div class="col-sm-6">
                                    <input class="form-control" type="text" id="event_param2_val">
                                </div>
                            </div>
                            <div class="clear">
                                <label class="col-sm-6 control-label" id="event_param3">Param3</label>
                                <div class="col-sm-6">
                                    <input class="form-control" type="text" id="event_param3_val">
                                </div>
                            </div>
                            <div class="clear">
                                <label class="col-sm-6 control-label" id="event_param4">Param4</label>
                                <div class="col-sm-6">
                                    <input class="form-control" type="text" id="event_param4_val">
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div id="action" class="col-md-3">
            <h4>Action</h4>
            <form class="form-horizontal">
                <select class="form-control input-sm chosen-select" id="action_type">
                    {% for action in actions %}
                        <option value="{{ action.id }}">{{ action.id }} - {{ action.name }}</option>
                    {% endfor %}
                </select>
                <div id="action_comment" class="col-md-10"></div>
                <div class="form-group form-group-sm">
                    <div class="clear">
                        <label class="col-sm-7 control-label" id="action_param1">Param1</label>
                        <div class="col-sm-5">
                            <input class="form-control" type="text" id="action_param1_val">
                        </div>
                    </div>
                    <div class="clear">
                        <label class="col-sm-7 control-label" id="action_param2">Param2</label>
                        <div class="col-sm-5">
                            <input class="form-control" type="text" id="action_param2_val">
                        </div>
                    </div>
                    <div class="clear">
                        <label class="col-sm-7 control-label" id="action_param3">Param3</label>
                        <div class="col-sm-5">
                            <input class="form-control" type="text" id="action_param3_val">
                        </div>
                    </div>
                    <div class="clear">
                        <label class="col-sm-7 control-label" id="action_param4">Param4</label>
                        <div class="col-sm-5">
                            <input class="form-control" type="text" id="action_param4_val">
                        </div>
                    </div>
                    <div class="clear">
                        <label class="col-sm-7 control-label" id="action_param5">Param5</label>
                        <div class="col-sm-5">
                            <input class="form-control" type="text" id="action_param5_val">
                        </div>
                    </div>
                    <div class="clear">
                        <label class="col-sm-7 control-label" id="action_param6">Param6</label>
                        <div class="col-sm-5">
                            <input class="form-control" type="text" id="action_param6_val">
                        </div>
                    </div>
                </div>
            </form>
        </div>
        <div id="target" class="col-md-4">
            <h4>Target</h4>
            <form class="form-horizontal">
                <select class="form-control input-sm chosen-select" id="target_type">
                    {% for target in targets %}
                        <option value="{{ target.id }}">{{ target.id }} - {{ target.name }}</option>
                    {% endfor %}
                </select>
                <div id="target_comment" class="col-md-7"></div>
                <div class="row">
                    <div class="form-group form-group-sm col-sm-6">
                        <div class="clear">
                            <label class="col-sm-4 control-label" id="target_flags">Flags</label>
                            <div class="col-sm-8 pad-right-0">
                                <select multiple class="form-control input-sm chosen-select" data-placeholder="Select Target Flags" id="target_flags_value" name="target_flags[]">
                                    <option value="1">IC_ONLY</option>
                                    <option value="2">OOC_ONLY</option>
                                    <option value="4">UNIQUE_TARGET</option>
                                    <option value="8">CAN_TARGET_DEAD</option>
                                    <option value="16">SAME_FACTION</option>
                                    <option value="32">MANA_USER</option>
                                </select>
                            </div>
                        </div>
                        <div class="clear">
                            <label class="col-sm-4 control-label" id="target_param1">Param1</label>
                            <div class="col-sm-8 pad-right-0">
                                <input class="form-control" type="text" id="target_param1_val">
                            </div>
                        </div>
                        <div class="clear">
                            <label class="col-sm-4 control-label" id="target_param2">Param2</label>
                            <div class="col-sm-8 pad-right-0">
                                <input class="form-control" type="text" id="target_param2_val">
                            </div>
                        </div>
                        <div class="clear">
                            <label class="col-sm-4 control-label" id="target_param3">Param3</label>
                            <div class="col-sm-8 pad-right-0">
                                <input class="form-control" type="text" id="target_param3_val">
                            </div>
                        </div>
                    </div>
                    <div class="form-group form-group-sm col-sm-7">
                        <div class="clear">
                            <label class="col-sm-5 control-label" id="target_x">Target X</label>
                            <div class="col-sm-7 pad-right-0">
                                <input class="form-control" type="text" id="target_x_val">
                            </div>
                        </div>
                        <div class="clear">
                            <label class="col-sm-5 control-label" id="target_y">Target Y</label>
                            <div class="col-sm-7 pad-right-0">
                                <input class="form-control" type="text" id="target_y_val">
                            </div>
                        </div>
                        <div class="clear">
                            <label class="col-sm-5 control-label" id="target_z">Target Z</label>
                            <div class="col-sm-7 pad-right-0">
                                <input class="form-control" type="text" id="target_z_val">
                            </div>
                        </div>
                        <div class="clear">
                            <label class="col-sm-5 control-label" id="target_o">Target O</label>
                            <div class="col-sm-7 pad-right-0">
                                <input class="form-control" type="text" id="target_o_val">
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
        </div>
        </div>
        <div class="col-md-12" style="text-align: right;">
            <button id="new_line" class="btn btn-info btn-xs">New Line</button>
            <button id="generate_comments" class="btn btn-info btn-xs">Generate comments</button>
            {% include 'review.html.twig' %}
        </div>
        <div id="lines" class="col-md-12">
            <table class="table table-hover table-condensed">
                <thead>
                <tr>
                    <th>ID</th>
                    <th>Link</th>
                    <th>Event</th>
                    <th>Action</th>
                    <th>Target</th>
                    <th>Comment</th>
                    <th></th>
                </tr>
                </thead>
                <tbody>
                {% for line in lines %}
                    <tr>
                        <td><strong>{{ line.id }}</strong></td>
                        <td>{{ line.link }}</td>
                        <td>{{ events[line.eventtype].name[6:] }}</td>
                        <td>{{ actions[line.actiontype].name[7:] }}</td>
                        <td>{{ targets[line.targettype].name[7:] }}</td>
                        <td>{{ line.comment }}</td>
                        <td class="options">
                            <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
                            <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    {% endblock %}
    {% block script %}
        <script src="{{ app.request.basepath }}/js/dev.js"></script>
        <script type="text/javascript">
            $(document).ready(function() {
                var Events = {{ events|json_encode|raw }};
                var Actions = {{ actions|json_encode|raw }};
                var Targets = {{ targets|json_encode|raw }};

                var EventChosen = $("#event_type_chosen");
                var EventComment = $("#event_comment");
                var ActionChosen = $("#action_type_chosen");
                var ActionComment = $("#action_comment");
                var TargetChosen = $("#target_type_chosen");
                var TargetComment = $("#target_comment");

                EventChosen.on("mouseover", ".active-result", function() {
                    var ID = ($(this).text().match(/\d+\.\d+|\d+\b|\d+(?=\w)/g) || [] ).map(function (v) {return +v;}).shift();
                    if(Events[ID].comment != null) {
                        EventComment.html('<h5>Help</h5>' + Events[ID].comment).show();
                    }
                }).on("mouseout", ".active-result", function() {
                    EventComment.hide();
                });

                ActionChosen.on("mouseover", ".active-result", function() {
                    var ID = ($(this).text().match(/\d+\.\d+|\d+\b|\d+(?=\w)/g) || [] ).map(function (v) {return +v;}).shift();
                    if(Actions[ID].comment != null) {
                        ActionComment.html('<h5>Help</h5>' + Actions[ID].comment).show();
                    }
                }).on("mouseout", ".active-result", function() {
                    ActionComment.hide();
                });

                TargetChosen.on("mouseover", ".active-result", function() {
                    var ID = ($(this).text().match(/\d+\.\d+|\d+\b|\d+(?=\w)/g) || [] ).map(function (v) {return +v;}).shift();
                    if(Actions[ID].comment != null) {
                        TargetComment.html('<h5>Help</h5>' + Targets[ID].comment).show();
                    }
                }).on("mouseout", ".active-result", function() {
                    TargetComment.hide();
                });
            });
        </script>
    {% endblock %}