{% extends "layout.html.twig" %}
    {% block title %}SunQuest - {{ parent() }}{% endblock %}
    {% block content %}
        <div class="col-md-12">
            <h2>SunQuest</h2>
            <p>
                See <a href="http://wiki.valoren.org/Quests">Wiki:Quests</a> for the documentation.
            </p>
        </div>
        <div class="col-md-12">
            <h2>Zones</h2>
            {% for zone in zones %}
            <div class="col-md-4">
                <h3><a href="{{ app.request.basepath }}/test/quest/zone/{{ zone.id }}">{{ zone.name }}</a> - {{ (zone.tested / zone.total * 100)[:5] }}%</h3>
                <p class="col-md-12">
                    <strong>Total quests:</strong> {{ zone.total }}<br />
                    <strong>Total tested:</strong> {{ zone.tested }}
                </p>
                <p class="col-md-4">
                    <strong>Success:</strong> {{ zone.success + zone.no }}
                </p>
                <p class="col-md-4">
                    <strong>Bugged:</strong> {{ zone.bugged }}
                </p>
                <p class="col-md-4">
                    <strong>Working:</strong> {{ zone.working }}
                </p>
                <div class="progress col-md-12" style="padding: 0;">
                    <div class="progress-bar progress-bar-success" style="width: {{ ((zone.success + zone.no) /  (zone.total * 14)) * 100 }}%">
                    </div>
                    <div class="progress-bar progress-bar-warning" style="width: {{ zone.working / (zone.total * 14) * 100 }}%">
                    </div>
                    <div class="progress-bar progress-bar-danger" style="width: {{ zone.bugged / (zone.total * 14) * 100 }}%">
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
        <div class="col-md-12">
            <h2>Dungeons</h2>
            {% for dungeon in dungeons %}
                {% if dungeon.total > 0 %}
                <div class="col-md-4">
                    <h3><a href="{{ app.request.basepath }}/test/quest/zone/{{ dungeon.id }}">{{ dungeon.name }}</a> - {{ (dungeon.tested / dungeon.total * 100)[:5] }}%</h3>
                    <p class="col-md-12">
                        <strong>Total quests:</strong> {{ dungeon.total }}<br />
                        <strong>Total tested:</strong> {{ dungeon.tested }}
                    </p>
                    <p class="col-md-4">
                        <strong>Success:</strong> {{ dungeon.success + dungeon.no }}
                    </p>
                    <p class="col-md-4">
                        <strong>Bugged:</strong> {{ dungeon.bugged }}
                    </p>
                    <p class="col-md-4">
                        <strong>Working:</strong> {{ dungeon.working }}
                    </p>
                    <div class="progress col-md-12" style="padding: 0;">
                        <div class="progress-bar progress-bar-success" style="width: {{ ((dungeon.success + dungeon.no) /  (dungeon.total * 14)) * 100 }}%">
                        </div>
                        <div class="progress-bar progress-bar-warning" style="width: {{ dungeon.working / (dungeon.total * 14) * 100 }}%">
                        </div>
                        <div class="progress-bar progress-bar-danger" style="width: {{ dungeon.bugged / (dungeon.total * 14) * 100 }}%">
                        </div>
                    </div>
                </div>
                {% endif %}
            {% endfor %}
        </div>
        <div class="col-md-12">
            <h2>Raids</h2>
            {% for raid in raids %}
                {% if raid.total > 0 %}
                <div class="col-md-4">
                    <h3><a href="{{ app.request.basepath }}/test/quest/zone/{{ raid.id }}">{{ raid.name }}</a> - {{ (raid.tested / raid.total * 100)[:5] }}%</h3>
                    <p class="col-md-12">
                        <strong>Total quests:</strong> {{ raid.total }}<br />
                        <strong>Total tested:</strong> {{ raid.tested }}
                    </p>
                    <p class="col-md-4">
                        <strong>Success:</strong> {{ raid.success + raid.no }}
                    </p>
                    <p class="col-md-4">
                        <strong>Bugged:</strong> {{ raid.bugged }}
                    </p>
                    <p class="col-md-4">
                        <strong>Working:</strong> {{ raid.working }}
                    </p>
                    <div class="progress col-md-12" style="padding: 0;">
                        <div class="progress-bar progress-bar-success" style="width: {{ ((raid.success + raid.no) /  (raid.total * 14)) * 100 }}%">
                        </div>
                        <div class="progress-bar progress-bar-warning" style="width: {{ raid.working / (raid.total * 14) * 100 }}%">
                        </div>
                        <div class="progress-bar progress-bar-danger" style="width: {{ raid.bugged / (raid.total * 14) * 100 }}%">
                        </div>
                    </div>
                </div>
                {% endif %}
            {% endfor %}
        </div>
    {% endblock %}
    {% block script %}
    {% endblock %}