{% extends "layout.html.twig" %}
    {% block title %}Actions - SmartAI - {{ parent() }}{% endblock %}
    {% block head %}
        <link rel="stylesheet" type="text/css" href="{{ app.request.basepath }}/css/jquery.dataTables.css" />
        <script src="{{ app.request.basepath }}/js/jquery.dataTables.min.js"></script>
    {% endblock %}
    {% block content %}
        <div class="fluid-container">
            <table class="table table-hover">
                <thead>
                <tr>
                    <td><strong>Value</strong></td>
                    <td><strong>Action</strong></td>
                    <td><strong>Param1</strong></td>
                    <td><strong>Param2</strong></td>
                    <td><strong>Param3</strong></td>
                    <td><strong>Param4</strong></td>
                    <td><strong>Param5</strong></td>
                    <td><strong>Param6</strong></td>
                    <td><strong>Comment</strong></td>
                </tr>
                </thead>
                <tbody>
                {% for action in actions %}
                    <tr>
                        <td>{{ action.id }}</td>
                        <td>{{ action.name }}</td>
                        <td>{{ action.param1 }}</td>
                        <td>{{ action.param2 }}</td>
                        <td>{{ action.param3 }}</td>
                        <td>{{ action.param4 }}</td>
                        <td>{{ action.param5 }}</td>
                        <td>{{ action.param6 }}</td>
                        <td>{{ action.comment }}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    {% endblock %}
    {% block script %}
        <script type="text/javascript">
            $(document).ready(function() {
                $('.table').dataTable( {
                    "scrollY":        "calc(100vh - 72px)",
                    "scrollCollapse": false,
                    "paging":         false,
                    "order": [[ 0, "asc" ]]
                } );
            } );
        </script>
    {% endblock %}
