{% extends 'layout.html.twig' %}
    {% block title %}{{ class.name }} - SunClasses - {{ parent() }}{% endblock %}
    {% block head %}
        <style type="text/css">
            .table > tbody > tr > td {
                vertical-align: middle;
            }
            .table > thead > tr > th,
            .table > tbody > tr > td {
                text-align: center;
            }
            .table > tbody > tr > td:nth-child(2) {
                text-align: left;
            }
            .table > tbody > tr > td > input {
                width: 50px;
                text-align: center;
                display: inline;
            }
            .table > tbody > tr > td > select {
                width: 128px;
                text-align: center;
                display: inline;
            }
            ul {
                padding: 0;
            }
            ul > li {
                display: inline-block;
                margin: 0 20px;
            }
            ul > li:first-child {
                display: inline-block;
                margin: 0 40px 10px 0;
            }
            .ok, .table-hover > tbody > tr.ok:hover > td {
                background-color: #ABFF92!important;
            }
            .bug, .table-hover > tbody > tr.bug:hover > td {
                background-color: #FF9595!important;
            }
            .assigned, .table-hover > tbody > tr.assigned:hover > td {
                background-color: #E1F3FF!important;
            }
        </style>
    {% endblock %}
    {% block content %}
        <div class="fluid-container">
            <div class="col-md-12">
                <h1>{{ class.name }}</h1>
            </div>
            <div class="col-md-6">
                <h3>Talents</h3>
                <button id="talents1" onclick="display('talents', 1)" type="button" class="btn btn-primary">{{ class.spec1 }}</button>
                <button id="talents2" onclick="display('talents', 2)" type="button" class="btn btn-default">{{ class.spec2 }}</button>
                <button id="talents3" onclick="display('talents', 3)" type="button" class="btn btn-default">{{ class.spec3 }}</button>
                <table id="talents-1" class="table table-hover">
                    <thead>
                    <tr>
                        <th>Tested</th>
                        <th>Name</th>
                        <th>Tester</th>
                        <th>Issue</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for talent in class.spec1talents %}
                        <tr{% if talent.tested == 1 %} class="assigned"{% elseif talent.tested == 2 %} class="ok"{% elseif talent.tested == 3 %} class="bug"{% else %}{% endif %}>
                            <td>
                                <select class="form-control status" onchange="update('talents', '{{ talent.name }}', 'tested', this.value)">
                                    <option value="0">Choose</option>
                                    <option value="1" {% if talent.tested == 1 %}selected="selected"{% endif %}>Assigned</option>
                                    <option value="2" {% if talent.tested == 2 %}selected="selected"{% endif %}>OK</option>
                                    <option value="3" {% if talent.tested == 3 %}selected="selected"{% endif %}>BUG</option>
                                </select>
                            </td>
                            <td>{{ talent.name }}</td>
                            <td>
                                <select class="form-control" onchange="update('talents', '{{ talent.name }}', 'tester', this.value)">
                                    <option value="0">Choose</option>
                                    <option value="1" {% if talent.tester == 1 %}selected="selected"{% endif %}>Athene</option>
                                    <option value="2" {% if talent.tester == 2 %}selected="selected"{% endif %}>Beldin</option>
                                    <option value="3" {% if talent.tester == 3 %}selected="selected"{% endif %}>Brainjuice</option>
                                    <option value="4" {% if talent.tester == 4 %}selected="selected"{% endif %}>Gadianna</option>
                                    <option value="5" {% if talent.tester == 5 %}selected="selected"{% endif %}>Horius</option>
                                    <option value="6" {% if talent.tester == 6 %}selected="selected"{% endif %}>Kadaver</option>
                                    <option value="7" {% if talent.tester == 7 %}selected="selected"{% endif %}>Krimi</option>
                                    <option value="8" {% if talent.tester == 8 %}selected="selected"{% endif %}>Laws</option>
                                    <option value="9" {% if talent.tester == 9 %}selected="selected"{% endif %}>Leekie</option>
                                    <option value="10" {% if talent.tester == 10 %}selected="selected"{% endif %}>Mikelus</option>
                                    <option value="11" {% if talent.tester == 11 %}selected="selected"{% endif %}>Muranounet</option>
                                    <option value="12" {% if talent.tester == 12 %}selected="selected"{% endif %}>Potestas</option>
                                    <option value="13" {% if talent.tester == 13 %}selected="selected"{% endif %}>Vanquish</option>
                                    <option value="14" {% if talent.tester == 14 %}selected="selected"{% endif %}>Yukka</option>
                                </select>
                            </td>
                            <td><span>{% if talent.issue != 0 %}<a href="https://github.com/Nqsty/Sunstrider-Classes-Issues/issues/{{ talent.issue }}">#</a>{% else %}#{% endif %}</span> <input class="form-control link" type="text" onchange="update('talents', '{{ talent.name }}', 'issue', this.value)" value="{% if talent.issue != 0 %}{{ talent.issue }}{% else %}{% endif %}" /></td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
                <table id="talents-2" class="table table-hover">
                    <thead>
                    <tr>
                        <th>Tested</th>
                        <th>Name</th>
                        <th>Tester</th>
                        <th>Issue</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for talent in class.spec2talents %}
                        <tr{% if talent.tested == 1 %} class="assigned"{% elseif talent.tested == 2 %} class="ok"{% elseif talent.tested == 3 %} class="bug"{% else %}{% endif %}>
                            <td>
                                <select class="form-control status" onchange="update('talents', '{{ talent.name }}', 'tested', this.value)">
                                    <option value="0">Choose</option>
                                    <option value="1" {% if talent.tested == 1 %}selected="selected"{% endif %}>Assigned</option>
                                    <option value="2" {% if talent.tested == 2 %}selected="selected"{% endif %}>OK</option>
                                    <option value="3" {% if talent.tested == 3 %}selected="selected"{% endif %}>BUG</option>
                                </select>
                            </td>
                            <td>{{ talent.name }}</td>
                            <td>
                                <select class="form-control" onchange="update('talents', '{{ talent.name }}', 'tester', this.value)">
                                    <option value="0">Choose</option>
                                    <option value="1" {% if talent.tester == 1 %}selected="selected"{% endif %}>Athene</option>
                                    <option value="2" {% if talent.tester == 2 %}selected="selected"{% endif %}>Beldin</option>
                                    <option value="3" {% if talent.tester == 3 %}selected="selected"{% endif %}>Brainjuice</option>
                                    <option value="4" {% if talent.tester == 4 %}selected="selected"{% endif %}>Gadianna</option>
                                    <option value="5" {% if talent.tester == 5 %}selected="selected"{% endif %}>Horius</option>
                                    <option value="6" {% if talent.tester == 6 %}selected="selected"{% endif %}>Kadaver</option>
                                    <option value="7" {% if talent.tester == 7 %}selected="selected"{% endif %}>Krimi</option>
                                    <option value="8" {% if talent.tester == 8 %}selected="selected"{% endif %}>Laws</option>
                                    <option value="9" {% if talent.tester == 9 %}selected="selected"{% endif %}>Leekie</option>
                                    <option value="10" {% if talent.tester == 10 %}selected="selected"{% endif %}>Mikelus</option>
                                    <option value="11" {% if talent.tester == 11 %}selected="selected"{% endif %}>Muranounet</option>
                                    <option value="12" {% if talent.tester == 12 %}selected="selected"{% endif %}>Potestas</option>
                                    <option value="13" {% if talent.tester == 13 %}selected="selected"{% endif %}>Vanquish</option>
                                    <option value="14" {% if talent.tester == 14 %}selected="selected"{% endif %}>Yukka</option>
                                </select>
                            </td>
                            <td><span>{% if talent.issue != 0 %}<a href="https://github.com/Nqsty/Sunstrider-Classes-Issues/issues/{{ talent.issue }}">#</a>{% else %}#{% endif %}</span> <input class="form-control link" type="text" onchange="update('talents', '{{ talent.name }}', 'issue', this.value)" value="{% if talent.issue != 0 %}{{ talent.issue }}{% else %}{% endif %}" /></td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
                <table id="talents-3" class="table table-hover">
                    <thead>
                    <tr>
                        <th>Tested</th>
                        <th>Name</th>
                        <th>Tester</th>
                        <th>Issue</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for talent in class.spec3talents %}
                        <tr{% if talent.tested == 1 %} class="assigned"{% elseif talent.tested == 2 %} class="ok"{% elseif talent.tested == 3 %} class="bug"{% else %}{% endif %}>
                            <td>
                                <select class="form-control status" onchange="update('talents', '{{ talent.name }}', 'tested', this.value)">
                                    <option value="0">Choose</option>
                                    <option value="1" {% if talent.tested == 1 %}selected="selected"{% endif %}>Assigned</option>
                                    <option value="2" {% if talent.tested == 2 %}selected="selected"{% endif %}>OK</option>
                                    <option value="3" {% if talent.tested == 3 %}selected="selected"{% endif %}>BUG</option>
                                </select>
                            </td>
                            <td>{{ talent.name }}</td>
                            <td>
                                <select class="form-control" onchange="update('talents', '{{ talent.name }}', 'tester', this.value)">
                                    <option value="0">Choose</option>
                                    <option value="1" {% if talent.tester == 1 %}selected="selected"{% endif %}>Athene</option>
                                    <option value="2" {% if talent.tester == 2 %}selected="selected"{% endif %}>Beldin</option>
                                    <option value="3" {% if talent.tester == 3 %}selected="selected"{% endif %}>Brainjuice</option>
                                    <option value="4" {% if talent.tester == 4 %}selected="selected"{% endif %}>Gadianna</option>
                                    <option value="5" {% if talent.tester == 5 %}selected="selected"{% endif %}>Horius</option>
                                    <option value="6" {% if talent.tester == 6 %}selected="selected"{% endif %}>Kadaver</option>
                                    <option value="7" {% if talent.tester == 7 %}selected="selected"{% endif %}>Krimi</option>
                                    <option value="8" {% if talent.tester == 8 %}selected="selected"{% endif %}>Laws</option>
                                    <option value="9" {% if talent.tester == 9 %}selected="selected"{% endif %}>Leekie</option>
                                    <option value="10" {% if talent.tester == 10 %}selected="selected"{% endif %}>Mikelus</option>
                                    <option value="11" {% if talent.tester == 11 %}selected="selected"{% endif %}>Muranounet</option>
                                    <option value="12" {% if talent.tester == 12 %}selected="selected"{% endif %}>Potestas</option>
                                    <option value="13" {% if talent.tester == 13 %}selected="selected"{% endif %}>Vanquish</option>
                                    <option value="14" {% if talent.tester == 14 %}selected="selected"{% endif %}>Yukka</option>
                                </select>
                            </td>
                            <td><span>{% if talent.issue != 0 %}<a href="https://github.com/Nqsty/Sunstrider-Classes-Issues/issues/{{ talent.issue }}">#</a>{% else %}#{% endif %}</span> <input class="form-control link" type="text" onchange="update('talents', '{{ talent.name }}', 'issue', this.value)" value="{% if talent.issue != 0 %}{{ talent.issue }}{% else %}{% endif %}" /></td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
            <div class="col-md-6">
                <h3>Spells</h3>
                <button id="spells1" onclick="display('spells', 1)" type="button" class="btn btn-primary">{{ class.spec1 }}</button>
                <button id="spells2" onclick="display('spells', 2)" type="button" class="btn btn-default">{{ class.spec2 }}</button>
                <button id="spells3" onclick="display('spells', 3)" type="button" class="btn btn-default">{{ class.spec3 }}</button>
                <table id="spells-1" class="table table-hover">
                    <thead>
                    <tr>
                        <th>Tested</th>
                        <th>Name</th>
                        <th>Tester</th>
                        <th>Issue</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for spell in class.spec1spells %}
                        <tr{% if spell.tested == 1 %} class="assigned"{% elseif spell.tested == 2 %} class="ok"{% elseif spell.tested == 3 %} class="bug"{% else %}{% endif %}>
                            <td>
                                <select class="form-control status" onchange="update('spells', '{{ spell.name }}', 'tested', this.value)">
                                    <option value="0">Choose</option>
                                    <option value="1" {% if spell.tested == 1 %}selected="selected"{% endif %}>Assigned</option>
                                    <option value="2" {% if spell.tested == 2 %}selected="selected"{% endif %}>OK</option>
                                    <option value="3" {% if spell.tested == 3 %}selected="selected"{% endif %}>BUG</option>
                                </select>
                            </td>
                            <td>{{ spell.name }}</td>
                            <td>
                                <select class="form-control" onchange="update('spells', '{{ spell.name }}', 'tester', this.value)">
                                    <option value="0">Choose</option>
                                    <option value="1" {% if spell.tester == 1 %}selected="selected"{% endif %}>Athene</option>
                                    <option value="2" {% if spell.tester == 2 %}selected="selected"{% endif %}>Beldin</option>
                                    <option value="3" {% if spell.tester == 3 %}selected="selected"{% endif %}>Brainjuice</option>
                                    <option value="4" {% if spell.tester == 4 %}selected="selected"{% endif %}>Gadianna</option>
                                    <option value="5" {% if spell.tester == 5 %}selected="selected"{% endif %}>Horius</option>
                                    <option value="6" {% if spell.tester == 6 %}selected="selected"{% endif %}>Kadaver</option>
                                    <option value="7" {% if spell.tester == 7 %}selected="selected"{% endif %}>Krimi</option>
                                    <option value="8" {% if spell.tester == 8 %}selected="selected"{% endif %}>Laws</option>
                                    <option value="9" {% if spell.tester == 9 %}selected="selected"{% endif %}>Leekie</option>
                                    <option value="10" {% if spell.tester == 10 %}selected="selected"{% endif %}>Mikelus</option>
                                    <option value="11" {% if spell.tester == 11 %}selected="selected"{% endif %}>Muranounet</option>
                                    <option value="12" {% if spell.tester == 12 %}selected="selected"{% endif %}>Potestas</option>
                                    <option value="13" {% if spell.tester == 13 %}selected="selected"{% endif %}>Vanquish</option>
                                    <option value="14" {% if spell.tester == 14 %}selected="selected"{% endif %}>Yukka</option>
                                </select>
                            </td>
                            <td><span>{% if spell.issue != 0 %}<a href="https://github.com/Nqsty/Sunstrider-Classes-Issues/issues/{{ spell.issue }}">#</a>{% else %}#{% endif %}</span> <input class="form-control link" type="text" onchange="update('spells', '{{ spell.name }}', 'issue', this.value)" value="{% if spell.issue != 0 %}{{ spell.issue }}{% else %}{% endif %}" /></td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
                <table id="spells-2" class="table table-hover">
                    <thead>
                    <tr>
                        <th>Tested</th>
                        <th>Name</th>
                        <th>Tester</th>
                        <th>Issue</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for spell in class.spec2spells %}
                        <tr{% if spell.tested == 1 %} class="assigned"{% elseif spell.tested == 2 %} class="ok"{% elseif spell.tested == 3 %} class="bug"{% else %}{% endif %}>
                            <td>
                                <select class="form-control status" onchange="update('spells', '{{ spell.name }}', 'tested', this.value)">
                                    <option value="0">Choose</option>
                                    <option value="1" {% if spell.tested == 1 %}selected="selected"{% endif %}>Assigned</option>
                                    <option value="2" {% if spell.tested == 2 %}selected="selected"{% endif %}>OK</option>
                                    <option value="3" {% if spell.tested == 3 %}selected="selected"{% endif %}>BUG</option>
                                </select>
                            </td>
                            <td>{{ spell.name }}</td>
                            <td>
                                <select class="form-control" onchange="update('spells', '{{ spell.name }}', 'tester', this.value)">
                                    <option value="0">Choose</option>
                                    <option value="1" {% if spell.tester == 1 %}selected="selected"{% endif %}>Athene</option>
                                    <option value="2" {% if spell.tester == 2 %}selected="selected"{% endif %}>Beldin</option>
                                    <option value="3" {% if spell.tester == 3 %}selected="selected"{% endif %}>Brainjuice</option>
                                    <option value="4" {% if spell.tester == 4 %}selected="selected"{% endif %}>Gadianna</option>
                                    <option value="5" {% if spell.tester == 5 %}selected="selected"{% endif %}>Horius</option>
                                    <option value="6" {% if spell.tester == 6 %}selected="selected"{% endif %}>Kadaver</option>
                                    <option value="7" {% if spell.tester == 7 %}selected="selected"{% endif %}>Krimi</option>
                                    <option value="8" {% if spell.tester == 8 %}selected="selected"{% endif %}>Laws</option>
                                    <option value="9" {% if spell.tester == 9 %}selected="selected"{% endif %}>Leekie</option>
                                    <option value="10" {% if spell.tester == 10 %}selected="selected"{% endif %}>Mikelus</option>
                                    <option value="11" {% if spell.tester == 11 %}selected="selected"{% endif %}>Muranounet</option>
                                    <option value="12" {% if spell.tester == 12 %}selected="selected"{% endif %}>Potestas</option>
                                    <option value="13" {% if spell.tester == 13 %}selected="selected"{% endif %}>Vanquish</option>
                                    <option value="14" {% if spell.tester == 14 %}selected="selected"{% endif %}>Yukka</option>
                                </select>
                            </td>
                            <td><span>{% if spell.issue != 0 %}<a href="https://github.com/Nqsty/Sunstrider-Classes-Issues/issues/{{ spell.issue }}">#</a>{% else %}#{% endif %}</span> <input class="form-control link" type="text" onchange="update('spells', '{{ spell.name }}', 'issue', this.value)" value="{% if spell.issue != 0 %}{{ spell.issue }}{% else %}{% endif %}" /></td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
                <table id="spells-3" class="table table-hover">
                    <thead>
                    <tr>
                        <th>Tested</th>
                        <th>Name</th>
                        <th>Tester</th>
                        <th>Issue</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for spell in class.spec3spells %}
                        <tr{% if spell.tested == 1 %} class="assigned"{% elseif spell.tested == 2 %} class="ok"{% elseif spell.tested == 3 %} class="bug"{% else %}{% endif %}>
                            <td>
                                <select class="form-control status" onchange="update('spells', '{{ spell.name }}', 'tested', this.value)">
                                    <option value="0">Choose</option>
                                    <option value="1" {% if spell.tested == 1 %}selected="selected"{% endif %}>Assigned</option>
                                    <option value="2" {% if spell.tested == 2 %}selected="selected"{% endif %}>OK</option>
                                    <option value="3" {% if spell.tested == 3 %}selected="selected"{% endif %}>BUG</option>
                                </select>
                            </td>
                            <td>{{ spell.name }}</td>
                            <td>
                                <select class="form-control" onchange="update('spells', '{{ spell.name }}', 'tester', this.value)">
                                    <option value="0">Choose</option>
                                    <option value="1" {% if spell.tester == 1 %}selected="selected"{% endif %}>Athene</option>
                                    <option value="2" {% if spell.tester == 2 %}selected="selected"{% endif %}>Beldin</option>
                                    <option value="3" {% if spell.tester == 3 %}selected="selected"{% endif %}>Brainjuice</option>
                                    <option value="4" {% if spell.tester == 4 %}selected="selected"{% endif %}>Gadianna</option>
                                    <option value="5" {% if spell.tester == 5 %}selected="selected"{% endif %}>Horius</option>
                                    <option value="6" {% if spell.tester == 6 %}selected="selected"{% endif %}>Kadaver</option>
                                    <option value="7" {% if spell.tester == 7 %}selected="selected"{% endif %}>Krimi</option>
                                    <option value="8" {% if spell.tester == 8 %}selected="selected"{% endif %}>Laws</option>
                                    <option value="9" {% if spell.tester == 9 %}selected="selected"{% endif %}>Leekie</option>
                                    <option value="10" {% if spell.tester == 10 %}selected="selected"{% endif %}>Mikelus</option>
                                    <option value="11" {% if spell.tester == 11 %}selected="selected"{% endif %}>Muranounet</option>
                                    <option value="12" {% if spell.tester == 12 %}selected="selected"{% endif %}>Potestas</option>
                                    <option value="13" {% if spell.tester == 13 %}selected="selected"{% endif %}>Vanquish</option>
                                    <option value="14" {% if spell.tester == 14 %}selected="selected"{% endif %}>Yukka</option>
                                </select>
                            </td>
                            <td><span>{% if spell.issue != 0 %}<a href="https://github.com/Nqsty/Sunstrider-Classes-Issues/issues/{{ spell.issue }}">#</a>{% else %}#{% endif %}</span> <input class="form-control link" type="text" onchange="update('spells', '{{ spell.name }}', 'issue', this.value)" value="{% if spell.issue != 0 %}{{ spell.issue }}{% else %}{% endif %}" /></td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    {% endblock %}
    {% block script %}
        <script type="text/javascript">
            $('#spells-2').hide();
            $('#spells-3').hide();
            $('#talents-2').hide();
            $('#talents-3').hide();

            $('.btn').click(function() {
                $(this).addClass('btn-primary').removeClass('btn-default').siblings('.btn').removeClass('btn-primary').addClass('btn-default');

            });

            function display(category, spe) {
                var element = $('#'+category+spe);

                $(element).click(function(){
                    $('#'+category+'-'+spe).show().siblings('table').hide();
                });
            }

            function update(category, name, field, value) {
                if (value == "") {
                    value = 0;
                }
                var info = { "class": "{{ class.index }}", "category": category.toString(), "name": name.toString(), "field": field.toString(), "value": value };
                $.ajax({
                    type : 'POST',
                    data : 'info=' + JSON.stringify(info),
                    url  : '{{ app.request.basepath }}/classes/apply',
                    success: function(data) {
                        console.log(data);
                    }
                });
            }

            $('.link').keyup(function() {
                var Link = $(this).val();

                if(Link == "") {
                    $(this).prev().replaceWith('<span>#</span>');
                } else {
                    $(this).prev().replaceWith('<a href="https://github.com/Nqsty/Sunstrider-Classes-Issues/issues/' + Link + '">#</a>');
                }
            });

            $('.status').change(function() {
                var Status = $(this).val();

                if(Status == 1) {
                    $(this).closest('tr').addClass('assigned').removeClass('bug').removeClass('ok');
                } else if(Status == 2) {
                    $(this).closest('tr').addClass('ok').removeClass('bug').removeClass('assigned');
                } else if(Status == 3) {
                    $(this).closest('tr').addClass('bug').removeClass('ok').removeClass('assigned');
                }
            });
        </script>
    {% endblock %}