{% extends 'layout.html.twig' %}

{% block title %}{{ title }}{% endblock %}

{% block content %}
    <h2 class="text-center">{{ block('title') }}</h2>
    {% for flashMessage in app.session.flashbag.get('success') %}
        <div class="alert alert-success col-md-6 col-md-offset-3">
            {{ flashMessage }}
        </div>
    {% endfor %}
    <div class="well col-md-6 col-md-offset-3">
        {{ form_start(form, { 'attr': {'class': 'form-horizontal'} }) }}
        <div class="form-group">
            {{ form_label(form.username, null, { 'label_attr':  {
                'class': 'col-sm-5 control-label'
            }}) }}
            <div class="col-sm-4">
                {{ form_errors(form.username) }}
                {{ form_widget(form.username, { 'attr':  {
                    'class': 'form-control'
                }}) }}
            </div>
        </div>
        <div class="form-group">
            {{ form_label(form.gmlevel, null, { 'label_attr':  {
                'class': 'col-sm-5 control-label'
            }}) }}
            <div class="col-sm-4">
                {{ form_errors(form.gmlevel) }}
                {{ form_widget(form.gmlevel, { 'attr':  {
                    'class': 'form-control'
                }}) }}
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-offset-5 col-sm-3">
                <input type="submit" class="btn btn-primary" value="Save" />
            </div>
        </div>
        {{ form_end(form) }}
    </div>
{% endblock %}